<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <!-- page loader -->
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>

            <!-- page header -->
            <%= require('../partials/header/clinic-header.html').default %>

                <!-- page wrapper -->
                <div class="adminuiux-wrap">

                    <!-- Standard sidebar -->
                    <%= require('../partials/navigation/clinic-sidebar.html').default %>

                        <main class="adminuiux-content has-sidebar" onclick="contentClick()">

                            <!-- breadcrumb  -->
                            <div class="container-fluid mt-3">
                                <div class="bg-theme-1-subtle rounded px-3 py-3">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col col-sm mb-2 mb-sm-0">
                                            <p class="h5">My Publications</p>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb mb-0">
                                                    <li class="breadcrumb-item bi"><a href="clinic-dashboard.html">Home</a></li>
                                                    <li class="breadcrumb-item active bi" aria-current="page">Blogs</li>
                                                </ol>
                                            </nav>
                                        </div>
                                        <div class="col-auto py-1">
                                            <a href="clinic-add-blog.html" class="btn btn-theme">
                                                <i class="bi bi-file-earmark-plus me-0 me-md-1"></i>
                                                <span class="d-none d-md-inline-block">Post</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- content -->
                            <div class="container mt-4" id="main-content">

                                <!-- Welcome banner carousel-->
                                <div class="swiper swipernav mb-4" data-pagination="{el: '.swiper-pagination',}">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="card adminuiux-card bg-theme-1 position-relative overflow-hidden">
                                                <div class="coverimg h-100 w-100 start-0 top-0 position-absolute z-index-0 opacity-50">
                                                    <img src="assets/img/modern-ai-image/modern-bg-1.jpg" alt="">
                                                </div>
                                                <div class="card-body z-index-1 px-lg-4 px-xl-5 pt-lg-4 pt-xl-5 pb-5 position-relative">
                                                    <p><span class="badge badge-light rounded-pill bg-pink text-white">Clinical Revolution</span>
                                                    </p>
                                                    <h1 class="display-5">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</h1>
                                                    <p class="lead my-4">Connects and integrates all your appointment sources - Website, Leads,
                                                        Mobile,
                                                        and reception desk. Everything is in a central appointment management software! Set up
                                                        appointments for your patients in the most effective way and manage record of patient, set
                                                        reminder, sent messages etc. with the help of the Hospital Appointment Scheduling Software
                                                        App.
                                                    </p>
                                                    <p><a href="clinic-blog-details.html" class="btn btn-lg btn-accent">Continue reading...</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card adminuiux-card">
                                                <div class="card-body px-lg-4 px-xl-5 pt-lg-4 pt-xl-5 pb-5">
                                                    <p><span class="badge badge-light rounded-pill text-bg-theme-accent-1">Clinical Revolution</span></p>
                                                    <h1 class="display-5">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</h1>
                                                    <p class="lead my-4">Connects and integrates all your appointment sources - Website, Leads,
                                                        Mobile,
                                                        and reception desk. Everything is in a central appointment management software! Set up
                                                        appointments for your patients in the most effective way and manage record of patient, set
                                                        reminder, sent messages etc. with the help of the Hospital Appointment Scheduling Software
                                                        App.
                                                    </p>
                                                    <p><a href="clinic-blog-details.html" class="btn btn-lg btn-accent">Continue reading...</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card adminuiux-card position-relative bg-theme-1 overflow-hidden">
                                                <div class="coverimg h-100 w-100 start-0 top-0 position-absolute z-index-0 opacity-50">
                                                    <img src="assets/img/modern-ai-image/user-6-kid.jpg" alt="">
                                                </div>
                                                <div class="card-body z-index-1 px-lg-4 px-xl-5 pt-lg-4 pt-xl-5 pb-5 position-relative">
                                                    <p><span class="badge badge-light rounded-pill bg-pink text-white">Clinical Revolution</span>
                                                    </p>
                                                    <h1 class="display-5">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</h1>
                                                    <p class="lead my-4">Connects and integrates all your appointment sources - Website, Leads,
                                                        Mobile,
                                                        and reception desk. Everything is in a central appointment management software! Set up
                                                        appointments for your patients in the most effective way and manage record of patient, set
                                                        reminder, sent messages etc. with the help of the Hospital Appointment Scheduling Software
                                                        App.
                                                    </p>
                                                    <p><a href="clinic-blog-details.html" class="btn btn-lg btn-accent">Continue reading...</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>

                                <!-- Featured -->
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="card adminuiux-card overflow-hidden mb-4">
                                            <div class="row position-relative">
                                                <div class="col-8 d-flex flex-column position-static">
                                                    <div class="card-body">
                                                        <p>
                                                            <span class="badge badge-light rounded-pill bg-blue-subtle text-blue-emphasis">World</span>
                                                            <span class="badge badge-light rounded-pill bg-yellow-subtle text-yellow-emphasis">Featured</span>
                                                        </p>
                                                        <p class="h5">Best of Technology</p>
                                                        <p class="small text-secondary">Nov 12 2024</p>
                                                        <p class="text-secondary">Now a days AI takes over everywhere in each field to improve
                                                            productivity and performance but human mind squeezing day by day</p>
                                                        <a href="clinic-blog-details.html" class="">Read more <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col-4 d-lg-block position-relative">
                                                    <div class="coverimg h-100 w-100 start-0 top-0 position-absolute z-index-0 ">
                                                        <img src="assets/img/modern-ai-image/pet-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="card adminuiux-card overflow-hidden mb-4">
                                            <div class="row position-relative">
                                                <div class="col-8 d-flex flex-column position-static">
                                                    <div class="card-body">
                                                        <p>
                                                            <span class="badge badge-light rounded-pill bg-pink-subtle text-pink-emphasis">Cutest
                                                                things</span>
                                                            <span class="badge badge-light rounded-pill bg-yellow-subtle text-yellow-emphasis">Featured</span>
                                                        </p>
                                                        <p class="h5">Best of Technology</p>
                                                        <p class="small text-secondary">Nov 12 2024</p>
                                                        <p class="text-secondary">Now a days AI takes over everywhere in each field to improve
                                                            productivity and performance but human mind squeezing day by day</p>
                                                        <a href="clinic-blog-details.html" class="">Read more <i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col-4 d-lg-block position-relative">
                                                    <div class="coverimg h-100 w-100 start-0 top-0 position-absolute z-index-0 ">
                                                        <img src="assets/img/modern-ai-image/user-5.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- blog list -->
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="card adminuiux-card overflow-hidden mb-4">
                                            <div class="card-body">
                                                <div class="coverimg miheight-300 w-100 rounded mb-3">
                                                    <img src="assets/img/modern-ai-image/bus-2.jpg" alt="">
                                                </div>
                                                <p>
                                                    <span class="badge badge-light rounded-pill bg-blue-subtle text-blue-emphasis">World</span>
                                                    <span class="badge badge-light rounded-pill bg-yellow-subtle text-yellow-emphasis">Featured</span>
                                                </p>
                                                <p class="h4">The great debate start when the rule ends at zero gravity</p>
                                                <p class="small text-secondary">Nov 12 2024</p>
                                                <p class="text-secondary">Now a days AI takes over everywhere in each field to improve
                                                    productivity and performance but human mind squeezing day by day</p>
                                                <a href="clinic-blog-details.html" class="btn btn-theme">
                                                    Read more <i class="bi bi-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card adminuiux-card overflow-hidden mb-4">
                                            <div class="card-body">
                                                <div class="coverimg miheight-300 w-100 rounded mb-3">
                                                    <img src="assets/img/modern-ai-image/taxi-1.jpg" alt="">
                                                </div>
                                                <p>
                                                    <span class="badge badge-light rounded-pill bg-blue-subtle text-blue-emphasis">World</span>
                                                    <span class="badge badge-light rounded-pill bg-yellow-subtle text-yellow-emphasis">Featured</span>
                                                </p>
                                                <p class="h4">The great debate start when the rule ends at zero gravity</p>
                                                <p class="small text-secondary">Nov 12 2024</p>
                                                <p class="text-secondary">Now a days AI takes over everywhere in each field to improve
                                                    productivity and performance but human mind squeezing day by day</p>
                                                <a href="clinic-blog-details.html" class="btn btn-theme">
                                                    Read more <i class="bi bi-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card adminuiux-card overflow-hidden mb-4">
                                            <div class="card-body">
                                                <div class="coverimg miheight-300 w-100 rounded mb-3">
                                                    <img src="assets/img/modern-ai-image/tree-20.jpg" alt="">
                                                </div>
                                                <p>
                                                    <span class="badge badge-light rounded-pill bg-blue-subtle text-blue-emphasis">World</span>
                                                    <span class="badge badge-light rounded-pill bg-yellow-subtle text-yellow-emphasis">Featured</span>
                                                </p>
                                                <p class="h4">The great debate start when the rule ends at zero gravity</p>
                                                <p class="small text-secondary">Nov 12 2024</p>
                                                <p class="text-secondary">Now a days AI takes over everywhere in each field to improve
                                                    productivity and performance but human mind squeezing day by day</p>
                                                <a href="clinic-blog-details.html" class="btn btn-theme">
                                                    Read more <i class="bi bi-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card adminuiux-card overflow-hidden mb-4">
                                            <div class="card-body">
                                                <div class="coverimg miheight-300 w-100 rounded mb-3">
                                                    <img src="assets/img/modern-ai-image/user-1.jpg" alt="">
                                                </div>
                                                <p>
                                                    <span class="badge badge-light rounded-pill bg-blue-subtle text-blue-emphasis">World</span>
                                                    <span class="badge badge-light rounded-pill bg-yellow-subtle text-yellow-emphasis">Featured</span>
                                                </p>
                                                <p class="h4">The great debate start when the rule ends at zero gravity</p>
                                                <p class="small text-secondary">Nov 12 2024</p>
                                                <p class="text-secondary">Now a days AI takes over everywhere in each field to improve
                                                    productivity and performance but human mind squeezing day by day</p>
                                                <a href="clinic-blog-details.html" class="btn btn-theme">
                                                    Read more <i class="bi bi-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-center mb-4">
                                            <button class="btn btn-link">
                                                <span class="spinner-border spinner-border-sm me-2" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </span>
                                                Load more...
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <div class="position-sticky" style="top: 5.5rem;">
                                            <div class="card adminuiux-card mb-4">
                                                <div class="card-body">
                                                    <p class="h5">About</p>
                                                    <p class="text-secondary">AdminUIUX is way better than any other template design in terms of
                                                        user experience design and modern touch of experience design sense. More flexibility and
                                                        customization available at with easy to develope</p>
                                                </div>
                                            </div>

                                            <p class="h6 mb-4">Recent posts</p>
                                            <ul class="list-unstyled mb-3">
                                                <li class="pb-3">
                                                    <a class="style-none" href="#">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <div class="height-80 w-100 rounded coverimg">
                                                                    <img src="assets/img/modern-ai-image/modern-bg-1.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-8">
                                                                <p class="h6 text-dark text-truncated mb-1">Amazing UI UX design for industries
                                                                    standard to improve accessibility</p>
                                                                <p class="text-dark text-truncated mb-2">Just feeling like another world exploring
                                                                    at
                                                                </p>
                                                                <p class="text-secondary small">December 15, 2024</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="pb-3">
                                                    <a class="style-none" href="#">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <div class="height-80 w-100 rounded coverimg">
                                                                    <img src="assets/img/modern-ai-image/tree-18.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-8">
                                                                <p class="h6 text-dark text-truncated mb-1">I love the UI design and content
                                                                    flexibility provided by template</p>
                                                                <p class="text-dark text-truncated mb-2">Just feeling like another world exploring
                                                                    at
                                                                </p>
                                                                <p class="text-secondary small">August 27, 2024</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="pb-3">
                                                    <a class="style-none" href="#">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <div class="height-80 w-100 rounded coverimg">
                                                                    <img src="assets/img/modern-ai-image/bus-7.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-8">
                                                                <p class="h6 text-dark text-truncated mb-1">More you see more you will get amazed
                                                                    with template interface design</p>
                                                                <p class="text-dark text-truncated mb-2">Just feeling like another world exploring
                                                                    at
                                                                </p>
                                                                <p class="text-secondary small">July 20, 2024</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>

                                            <p class="h6 mb-4">Archives</p>
                                            <ol class="list-group adminuiux-list-group list-group-flush mb-4">
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">March 2025</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">February 2025</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">January 2025</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">December 2024</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">November 2024</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">October 2024</a></li>
                                            </ol>

                                            <p class="h6 mb-4">Elsewhere</p>
                                            <ol class="list-group adminuiux-list-group list-group-flush">
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">GitHub</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">Twitter</a></li>
                                                <li class="list-group-item bg-none"><a href="#" class="style-none">Facebook</a></li>
                                            </ol>

                                        </div>
                                    </div>
                                </div>


                                <div class="text-center my-4 my-xl-5">
                                    <h1>More trending stories to cover</h1>
                                    <p class="mb-0">Stay up to date with latest trending topics.</p>
                                </div>

                                <!-- Top trending carousel -->
                                <div class="swiper swipernav mb-4">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" style="max-width: 400px; width: 100%;">
                                            <div class="card adminuiux-card position-relative overflow-hidden">
                                                <div class="card-body z-index-1 p-xl-4 position-relative">
                                                    <p><span class="badge badge-light rounded-pill bg-red text-white">Creative UI UX</span>
                                                    </p>
                                                    <p class="text-truncated h4">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</p>
                                                    <p class="text-secondary mb-4">Connects and integrates all your appointment sources - Website,
                                                        Leads, Mobile,
                                                    </p>
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <p>
                                                                <a href="clinic-blog-details.html" class="btn btn-theme theme-red">Read More
                                                                    <i class="bi bi-arrow-right"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="col-auto text-end">
                                                            <p><span class="opacity-75">By:</span> Adminuiux</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="max-width: 400px; width: 100%;">
                                            <div class="card adminuiux-card bg-success text-white position-relative overflow-hidden">
                                                <div class="coverimg h-100 w-100 start-0 top-0 position-absolute z-index-0 opacity-25">
                                                    <img src="assets/img/modern-ai-image/tree-5.jpg" alt="">
                                                </div>
                                                <div class=" card-body z-index-1 p-xl-4 position-relative">
                                                    <p><span class="badge badge-light rounded-pill bg-green text-white">Appointment</span>
                                                    </p>
                                                    <p class="text-truncated h4">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</p>
                                                    <p class="mb-4">Connects and integrates all your appointment sources - Website, Leads,
                                                        Mobile,
                                                    </p>
                                                    <p><a href="clinic-blog-details.html" class="btn btn-theme theme-green">Read More <i class="bi bi-arrow-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="max-width: 400px; width: 100%;">
                                            <div class="card adminuiux-card bg-success text-white position-relative overflow-hidden">
                                                <div class="coverimg h-100 w-100 start-0 top-0 position-absolute z-index-0 opacity-50">
                                                    <img src="assets/img/modern-ai-image/tree-4.jpg" alt="">
                                                </div>
                                                <div class="card-body z-index-1 p-xl-4 position-relative">
                                                    <p><span class="badge badge-light rounded-pill bg-orange text-white">Medical Champ</span>
                                                    </p>
                                                    <p class="text-truncated h4">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</p>
                                                    <p class="mb-4">Connects and integrates all your appointment sources - Website, Leads,
                                                        Mobile,
                                                    </p>
                                                    <p><a href="clinic-blog-details.html" class="btn btn-theme theme-orange">Read More <i class="bi bi-arrow-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="max-width: 400px; width: 100%;">
                                            <div class="card adminuiux-card position-relative overflow-hidden">
                                                <div class="card-body z-index-1 p-xl-4 position-relative">
                                                    <p><span class="badge badge-light rounded-pill bg-pink text-white">New to world</span>
                                                    </p>
                                                    <p class="text-truncated h4">Hospital Appointment Scheduling Software App for Clinics,
                                                        Hospitals and Doctors.</p>
                                                    <p class="text-secondary mb-4">Connects and integrates all your appointment sources - Website,
                                                        Leads, Mobile,
                                                    </p>
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <p>
                                                                <a href="clinic-blog-details.html" class="btn btn-theme theme-red">Read More
                                                                    <i class="bi bi-arrow-right"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <div class="col-auto text-end">
                                                            <p><span class="opacity-75">By:</span> Adminuiux</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </main>
                </div>

                <!-- page footer -->
                <%= require('../partials/footer/clinic-footer.html').default %>
                    <%= require('../partials/offcanvas/theming.html').default %>

                        <!-- Page Level js -->


    </body>

</html>