<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

  <body class="main-bg main-bg-opac main-bg-blur">
    <!-- page loader -->
    <%= require('../partials/pageloader/clinic-pageloader.html').default %>

      <!-- page header -->
      <%= require('../partials/header/clinic-header.html').default %>

        <!-- page wrapper -->
        <div class="adminuiux-wrap">

          <!-- Standard sidebar -->
          <%= require('../partials/navigation/clinic-sidebar.html').default %>

            <main class="adminuiux-content has-sidebar" onclick="contentClick()">

              <!-- breadcrumb -->
              <div class="container-fluid mt-3">
                <div class="bg-theme-1-subtle rounded px-3 py-3">
                  <div class="row gx-3 align-items-center">
                    <div class="col col-sm mb-2 mb-sm-0">
                      <p class="h5">Settings</p>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item bi"><a href="clinic-dashboard.html">Home</a></li>
                          <li class="breadcrumb-item bi"><a href="clinic-settings.html">Settings</a></li>
                          <li class="breadcrumb-item active bi" aria-current="page">Timing</li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>

              <!-- content -->
              <div class="container mt-4" id="main-content">

                <div class="row">
                  <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                    <div class="position-sticky" style="top:5.5rem">
                      <ul class="nav nav-pills adminuiux-nav-pills flex-column mb-4">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="clinic-settings.html">
                            <div class="avatar avatar-28 icon"><i data-feather="user"></i></div>
                            <div class="col">
                              <p class="h6 mb-0">My Profile</p>
                              <p class="small opacity-75">Basic Details</p>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="clinic-settings-hospitals.html">
                            <div class="avatar avatar-28 icon"><i class="bi bi-hospital fs-4"></i></div>
                            <div class="col">
                              <p class="h6 mb-0">Hospital/Clinic</p>
                              <p class="small opacity-75">Location, Address</p>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="clinic-settings-users.html">
                            <div class="avatar avatar-28 icon"><i class="bi bi-people fs-4"></i></div>
                            <div class="col">
                              <p class="h6 mb-0">Users</p>
                              <p class="small opacity-75">Roles, Permission, Access</p>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="clinic-settings-timing.html">
                            <div class="avatar avatar-28 icon"><i data-feather="clock"></i></div>
                            <div class="col">
                              <p class="h6 mb-0">Timing</p>
                              <p class="small opacity-75">Business hours, Emergency</p>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="clinic-settings-payment.html">
                            <div class="avatar avatar-28 icon"><i class="bi bi-cash-stack fs-4"></i></div>
                            <div class="col">
                              <p class="h6 mb-0">Payment</p>
                              <p class="small opacity-75">Online, Devices, Cash</p>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="clinic-settings-contact.html">
                            <div class="avatar avatar-28 icon"><i class="bi bi-life-preserver"></i></div>
                            <div class="col">
                              <p class="h6 mb-0">Contact</p>
                              <p class="small opacity-75">Support, Call, Chat, email</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card adminuiux-card mb-4" data-bs-target="#navbarpill" data-bs-spy="scroll">
                      <div class="card-body py-0">

                        <div class="position-sticky bg-card py-3 mb-0 z-index-7 header-pt mb-3" id="navbarpill">
                          <ul class="nav nav-pills">
                            <li class="nav-item">
                              <a class="nav-link active" href="#scrollspayone">Location 1</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#scrollspaytwo">Location 2</a>
                            </li>
                          </ul>
                        </div>

                        <div class="" id="scrollspayone" style="scroll-margin: 150px;">
                          <p class="h6 mb-3"><i class="bi bi-hospital fs-4 me-2 align-middle"></i> Location 1 doctors and staff</p>
                          <div class="card adminuiux-card border mb-4">
                            <nav>
                              <div class="nav nav-tabs adminuiux-tabs" id="nav-tab-loc-1" role="tablist">
                                <button class="nav-link active" id="nav-doctor-tab-loc-1" data-bs-toggle="tab" data-bs-target="#nav-doctor-loc-1" type="button" role="tab" aria-controls="nav-doctor-loc-1" aria-selected="true">Doctor</button>
                                <button class="nav-link" id="nav-staff-tab-loc-1" data-bs-toggle="tab" data-bs-target="#nav-staff-loc-1" type="button" role="tab" aria-controls="nav-staff-loc-1" aria-selected="false">Staff</button>
                              </div>
                            </nav>
                            <div class="card-body">
                              <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane show active fade" id="nav-doctor-loc-1" role="tabpanel" aria-labelledby="nav-doctor-tab-loc-1" tabindex="0">
                                  <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                      <div class="card adminuiux-card border mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                              <div class="dropdown d-inline-block">
                                                <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                  <i class="bi bi-three-dots"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                                  <li><a class="dropdown-item theme-red" href="javascript:void(0)">Delete</a></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="text-center">
                                            <div class="avatar avatar-80 rounded-circle coverimg mb-3 mx-auto">
                                              <img src="assets/img/modern-ai-image/user-8.jpg" alt="" style="display: none;">
                                            </div>
                                            <p class="h5 mb-0">
                                              <span class="position-relative">Dr. Ryan Sylia
                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                  <span class="visually-hidden">New alerts</span>
                                                </span>
                                              </span>
                                            </p>
                                            <p class="text-secondary small">Orthopedic Specialist</p>
                                            <span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"><i class="bi bi-envelope me-2"></i>ryansylia@gmail.com</span>
                                            <span class="badge badge-light rounded-pill text-bg-theme-accent-1"><i class="bi bi-telephone me-2"></i>+089584A56892</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                      <div class="card adminuiux-card border mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                              <div class="dropdown d-inline-block">
                                                <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                  <i class="bi bi-three-dots"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                                  <li><a class="dropdown-item theme-red" href="javascript:void(0)">Delete</a></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="text-center">
                                            <div class="avatar avatar-80 rounded-circle coverimg mb-3 mx-auto">
                                              <img src="assets/img/modern-ai-image/user-2.jpg" alt="" style="display: none;">
                                            </div>
                                            <p class="h5 mb-0">
                                              <span class="position-relative">Dr. Chin Chou
                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                  <span class="visually-hidden">New alerts</span>
                                                </span>
                                              </span>
                                            </p>
                                            <p class="text-secondary small">Expert Dentist</p>
                                            <span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"><i class="bi bi-envelope me-2"></i>chinchou@gmail.com</span>
                                            <span class="badge badge-light rounded-pill text-bg-theme-accent-1"><i class="bi bi-telephone me-2"></i>+085684A56568</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                      <div class="card adminuiux-card border mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                              <div class="dropdown d-inline-block">
                                                <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                  <i class="bi bi-three-dots"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                                  <li><a class="dropdown-item theme-red" href="javascript:void(0)">Delete</a></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="text-center">
                                            <div class="avatar avatar-80 rounded-circle coverimg mb-3 mx-auto">
                                              <img src="assets/img/modern-ai-image/user-4.jpg" alt="" style="display: none;">
                                            </div>
                                            <p class="h5 mb-0">
                                              <span class="position-relative">Dr. Sundar Vishwas
                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                  <span class="visually-hidden">New alerts</span>
                                                </span>
                                              </span>
                                            </p>
                                            <p class="text-secondary small">General Expert</p>
                                            <span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"><i class="bi bi-envelope me-2"></i>sundarvishwas@gmail.com</span>
                                            <span class="badge badge-light rounded-pill text-bg-theme-accent-1"><i class="bi bi-telephone me-2"></i>+05689584A2543</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button class="btn btn-outline-accent ms-auto" data-bs-toggle="modal" data-bs-target="#createuser"><i class="bi bi-plus me-1"></i>
                                    Create Doctor</button>
                                </div>
                                <div class="tab-pane fade" id="nav-staff-loc-1" role="tabpanel" aria-labelledby="nav-staff-tab-loc-1" tabindex="0">...</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="" id="scrollspaytwo" style="scroll-margin: 150px;">
                          <p class="h6 mb-3"><i class="bi bi-hospital fs-4 me-2 align-middle"></i> Location 2 doctors and staff</p>
                          <div class="card adminuiux-card border mb-4">
                            <nav>
                              <div class="nav nav-tabs adminuiux-tabs" id="nav-tab-loc-2" role="tablist">
                                <button class="nav-link active" id="nav-doctor-tab-loc-2" data-bs-toggle="tab" data-bs-target="#nav-doctor-loc-2" type="button" role="tab" aria-controls="nav-doctor-loc-2" aria-selected="true">Doctor</button>
                                <button class="nav-link" id="nav-staff-tab-loc-2" data-bs-toggle="tab" data-bs-target="#nav-staff-loc-2" type="button" role="tab" aria-controls="nav-staff-loc-2" aria-selected="false">Staff</button>
                                <button class="btn btn-link ms-auto" data-bs-toggle="modal" data-bs-target="#createuser"><i class="bi bi-plus me-1"></i> Add</button>
                              </div>
                            </nav>
                            <div class="card-body">
                              <div class="tab-content" id="nav-tabContent-2">
                                <div class="tab-pane show active fade" id="nav-doctor-loc-2" role="tabpanel" aria-labelledby="nav-doctor-tab-loc-1" tabindex="0">
                                  <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                      <div class="card adminuiux-card border mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                              <div class="dropdown d-inline-block">
                                                <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                  <i class="bi bi-three-dots"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                                  <li><a class="dropdown-item theme-red" href="javascript:void(0)">Delete</a></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="text-center">
                                            <div class="avatar avatar-80 rounded-circle coverimg mb-3 mx-auto">
                                              <img src="assets/img/modern-ai-image/user-8.jpg" alt="" style="display: none;">
                                            </div>
                                            <p class="h5 mb-0">
                                              <span class="position-relative">Dr. Ryan Sylia
                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                  <span class="visually-hidden">New alerts</span>
                                                </span>
                                              </span>
                                            </p>
                                            <p class="text-secondary small">Orthopedic Specialist</p>
                                            <span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"><i class="bi bi-envelope me-2"></i>ryansylia@gmail.com</span>
                                            <span class="badge badge-light rounded-pill text-bg-theme-accent-1"><i class="bi bi-telephone me-2"></i>+089584A56892</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                      <div class="card adminuiux-card border mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                              <div class="dropdown d-inline-block">
                                                <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                  <i class="bi bi-three-dots"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                                  <li><a class="dropdown-item theme-red" href="javascript:void(0)">Delete</a></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="text-center">
                                            <div class="avatar avatar-80 rounded-circle coverimg mb-3 mx-auto">
                                              <img src="assets/img/modern-ai-image/user-2.jpg" alt="" style="display: none;">
                                            </div>
                                            <p class="h5 mb-0">
                                              <span class="position-relative">Dr. Chin Chou
                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                  <span class="visually-hidden">New alerts</span>
                                                </span>
                                              </span>
                                            </p>
                                            <p class="text-secondary small">Expert Dentist</p>
                                            <span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"><i class="bi bi-envelope me-2"></i>chinchou@gmail.com</span>
                                            <span class="badge badge-light rounded-pill text-bg-theme-accent-1"><i class="bi bi-telephone me-2"></i>+085684A56568</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                      <div class="card adminuiux-card border mb-3">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col"></div>
                                            <div class="col-auto">
                                              <div class="dropdown d-inline-block">
                                                <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                  <i class="bi bi-three-dots"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                  <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                                  <li><a class="dropdown-item theme-red" href="javascript:void(0)">Delete</a></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="text-center">
                                            <div class="avatar avatar-80 rounded-circle coverimg mb-3 mx-auto">
                                              <img src="assets/img/modern-ai-image/user-4.jpg" alt="" style="display: none;">
                                            </div>
                                            <p class="h5 mb-0">
                                              <span class="position-relative">Dr. Sundar Vishwas
                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                  <span class="visually-hidden">New alerts</span>
                                                </span>
                                              </span>
                                            </p>
                                            <p class="text-secondary small">General Expert</p>
                                            <span class="badge badge-light rounded-pill text-bg-theme-1 mb-2"><i class="bi bi-envelope me-2"></i>sundarvishwas@gmail.com</span>
                                            <span class="badge badge-light rounded-pill text-bg-theme-accent-1"><i class="bi bi-telephone me-2"></i>+05689584A2543</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="nav-staff-loc-2" role="tabpanel" aria-labelledby="nav-staff-tab-loc-2" tabindex="0">
                                  ...</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-theme">Save</button>
                          </div>
                          <div class="col-auto">
                            <button class="btn btn-link">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- add user  -->
              <div class="modal adminuiux-modal fade" id="createuser" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <nav>
                      <div class="nav nav-tabs adminuiux-tabs" id="nav-tab-user-1" role="tablist">
                        <button class="nav-link active" id="nav-basic-tab-user-1" data-bs-toggle="tab" data-bs-target="#nav-basic-user-1" type="button" role="tab" aria-controls="nav-basic-user-1" aria-selected="true">Basic Info</button>
                        <button class="nav-link" id="nav-prof-tab-user-2" data-bs-toggle="tab" data-bs-target="#nav-prof-user-2" type="button" role="tab" aria-controls="nav-prof-user-2" aria-selected="false">Professional</button>
                        <button class="nav-link" id="nav-timing-tab-user-2" data-bs-toggle="tab" data-bs-target="#nav-timing-user-2" type="button" role="tab" aria-controls="nav-timing-user-2" aria-selected="false">Availability</button>
                        <button type="button" class="btn btn-link btn-square ms-auto" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                      </div>
                    </nav>
                    <div class="modal-body">
                      <div class="tab-content" id="nav-tab-user-content-1">
                        <div class="tab-pane show active fade" id="nav-basic-user-1" role="tabpanel" aria-labelledby="nav-basic-tab-user-1" tabindex="0">
                          <figure class="coverimg w-100 height-250 mb-0 position-relative rounded">
                            <div class="position-absolute top-0 end-0 m-2">
                              <button class="btn btn-theme" onclick="$(this).next().click()">
                                <i class="bi bi-camera"></i> Change Cover
                              </button>
                              <input type="file" class="d-none">
                            </div>
                            <img src="assets/img/modern-ai-image/modern-bg-4.jpg" class="mw-100" alt="">
                          </figure>
                          <div class="row align-items-start justify-content-center mb-3">
                            <div class="col-auto position-relative">
                              <figure class="avatar avatar-150 coverimg rounded-circle mt--75">
                                <img src="assets/img/modern-ai-image/user-6.jpg" alt="">
                              </figure>
                              <div class="position-absolute bottom-0 end-0 z-index-1 me-3 mb-1 h-auto">
                                <button class="btn btn-accent btn-square" onclick="$(this).next().click()">
                                  <i class="bi bi-camera"></i>
                                </button>
                                <input type="file" class="d-none">
                              </div>
                            </div>
                          </div>

                          <p class="title h6 mb-3">Basic Details</p>
                          <div class="row mb-2">
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="First Name" value="adminuiux" required="" class="form-control is-valid">
                                <label>First Name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Last Name" value="" required="" class="form-control">
                                <label>Last Name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating">
                                <input type="email" placeholder="Email Address" value="guest@adminuiux.com" disabled="" required="" class="form-control">
                                <label>Email Address</label>
                              </div>
                              <div class="invalid-feedback mb-3">Add .com at last to insert valid data </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Birth Date" value="26-04-1982" required="" class="form-control datepicker">
                                <label>Birth date</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <select class="form-select">
                                  <option>A</option>
                                  <option>A+</option>
                                  <option>B</option>
                                  <option selected>B+</option>
                                  <option>B-</option>
                                  <option>O</option>
                                  <option>O-</option>
                                </select>
                                <label>Blood group</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Weight" value="52" class="form-control">
                                <label>Weight (kg)</label>
                              </div>
                              <div class="invalid-feedback mb-3">Add .com at last to insert valid data </div>
                            </div>
                          </div>
                          <p class="title h6 mb-3">Address Details</p>
                          <div class="row mb-2">
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Address Line 1" value="" required="" class="form-control">
                                <label>Address Line 1</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="email" placeholder="Address Line 2" required="" class="form-control">
                                <label>Address Line 2</label>
                              </div>
                              <div class="invalid-feedback mb-3">Add insert valid data </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Landmark" required="" class="form-control">
                                <label>Landmark</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="email" placeholder="Street" required="" class="form-control">
                                <label>Street</label>
                              </div>
                              <div class="invalid-feedback mb-3">Add insert valid data </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Country" value="" required="" class="form-control">
                                <label>Country</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Pincode" value="" required="" class="form-control">
                                <label>Pincode</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="State" value="" required="" class="form-control">
                                <label>State</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="City" value="" required="" class="form-control  is-invalid">
                                <label>City</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="nav-prof-user-2" role="tabpanel" aria-labelledby="nav-prof-tab-user-2" tabindex="0">
                          <p class="title h6 mb-3">Professional bio</p>
                          <div class="mb-4">
                            <textarea class="FroalaEditor"></textarea>
                          </div>

                          <p class="title h6 mb-3">Academic qualification</p>
                          <div class="row  mb-2">
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Degree" value="M.B.B.S" class="form-control">
                                <label>Degree</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="College/University" value="" class="form-control">
                                <label>College/University</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-link mt-2">
                                <i class="bi bi-plus"></i> Add
                              </button>
                            </div>
                          </div>

                          <p class="title h6 mb-3">Specialized treatment</p>
                          <div class="row  mb-2">
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Treatment name" value="Skin whitening" class="form-control">
                                <label>Treatment name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Treatment name" value="Skin problem" class="form-control">
                                <label>Treatment name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Treatment name" value="Skin decease" class="form-control">
                                <label>Treatment name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Treatment name" value="Lesser treatment" class="form-control">
                                <label>Treatment name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-floating mb-3">
                                <input type="text" placeholder="Treatment name" value="Hair problem" class="form-control">
                                <label>Treatment name</label>
                              </div>
                              <div class="invalid-feedback">Please enter valid input</div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-link mt-2">
                                <i class="bi bi-plus"></i> Add
                              </button>
                            </div>
                          </div>

                          <p class="title h6 mb-3">Public Visibility</p>
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="profileswitch1" checked="">
                                <label class="form-check-label" for="profileswitch1">Show my profile publicly</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="profileswitch2" checked="">
                                <label class="form-check-label" for="profileswitch2">Show my availability</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="profileswitch3">
                                <label class="form-check-label" for="profileswitch3">Show tagline in profile</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="profileswitch4">
                                <label class="form-check-label" for="profileswitch4">Make profile inactive</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="nav-timing-user-2" role="tabpanel" aria-labelledby="nav-timing-tab-user-2" tabindex="0">
                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6 mb-3">Monday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="monday">
                                <label class="form-check-label" for="monday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="20:00" class="form-control">
                                <label>End Time</label>
                              </div>
                            </div>
                            <div class="col-auto pt-2">
                              <button class="btn btn-link mb-3"><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6  mb-3">Tuesday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="tuesday">
                                <label class="form-check-label" for="tuesday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="20:00" class="form-control">
                                <label>End Time</label>
                              </div>
                            </div>
                            <div class="col-auto pt-2">
                              <button class="btn btn-link mb-3"><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6 mb-3">Wednesday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="wednesday">
                                <label class="form-check-label" for="wednesday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="20:00" class="form-control">
                                <label>End Time</label>
                              </div>
                            </div>
                            <div class="col-auto pt-2">
                              <button class="btn btn-link mb-3"><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6 mb-3">Thursday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="thursday">
                                <label class="form-check-label" for="thursday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="20:00" class="form-control">
                                <label>End Time</label>
                              </div>
                            </div>
                            <div class="col-auto pt-2">
                              <button class="btn btn-link mb-3"><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6 mb-3">Friday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="friday">
                                <label class="form-check-label" for="friday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="20:00" class="form-control">
                                <label>End Time</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto pt-2">
                              <button class="btn btn-link mb-3"><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6 mb-3">Saturday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="saturday" checked>
                                <label class="form-check-label" for="saturday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating opacity-50 mb-3">
                                <input type="time" value="09:00" class="form-control" disabled>
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating opacity-50 mb-3">
                                <input type="time" value="20:00" class="form-control" disabled>
                                <label>End Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-link mb-3" disabled><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-6 col-md-3 col-xl-2 pt-3">
                              <p class="h6 mb-3">Sunday</p>
                            </div>
                            <div class="col-auto pt-3">
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="sunday">
                                <label class="form-check-label" for="sunday">Full Day</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="09:00" class="form-control">
                                <label>Start Time</label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-floating mb-3">
                                <input type="time" value="20:00" class="form-control">
                                <label>End Time</label>
                              </div>
                            </div>
                            <div class="col-auto pt-2">
                              <button class="btn btn-link mb-3"><i class="bi bi-plus"></i> Add Shift</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="col"><button type="button" class="btn btn-theme">Create User</button></div>
                      <div class="col-auto"><button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancel</button></div>
                    </div>
                  </div>
                </div>
              </div>

            </main>
        </div>

        <!-- page footer -->
        <%= require('../partials/footer/clinic-footer.html').default %>
          <%= require('../partials/offcanvas/theming.html').default %>

            <!-- Page Level js -->


  </body>

</html>