<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

  <body>
    <!--Full pageloader-->
    <%= require('../partials/pageloader/clinic-pageloader.html').default %>

      <main class="flex-shrink-0 pt-0 h-100">
        <div class="container-fluid">
          <div class="auth-wrapper">

            <!-- login wrap -->
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 minvheight-100 d-flex flex-column px-0">
                <!-- page header -->
                <%= require('../partials/header/clinic-auth-header.html').default %>

                  <div class="h-100 py-4 px-3">
                    <div class="row h-100 align-items-center justify-content-center mt-md-4">
                      <div class="col-12 col-md-10 col-lg-8 col-xxl-6 login-box">
                        <div class="text-center mb-4">
                          <h1 class="mb-2">Welcome&#9996;</h1>
                          <p class="lead text-secondary">Enter your credential to login</p>
                        </div>

                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="emailadd" placeholder="Enter email address" value="info@adminuiux" autofocus="">
                          <label for="emailadd">Email Address</label>
                        </div>

                        <div class="position-relative">
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="passwd" placeholder="Enter your password">
                            <label for="passwd">Password</label>
                          </div>
                          <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 ">
                            <i class="bi bi-eye"></i>
                          </button>
                        </div>

                        <div class="row align-items-center mb-3">
                          <div class="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="rememberme" id="rememberme">
                              <label class="form-check-label" for="rememberme">Remember me</label>
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="clinic-forgot-password.html" class=" ">Forget Password?</a>
                          </div>
                        </div>
                        <a href="clinic-dashboard.html" class="btn btn-lg btn-theme w-100 mb-4">Login</a>
                        <!-- <button class="btn btn-lg btn-theme w-100 mb-4">Login</button> -->
                        <div class="text-center mb-3">
                          Don't have account? <a href="clinic-signup.html" class=" ">Create Account</a>
                        </div>

                        <div class="row align-items-center mb-3">
                          <div class="col">
                            <hr class="">
                          </div>
                          <div class="col-auto">
                            <p class="text-secondary">OR</p>
                          </div>
                          <div class="col">
                            <hr class="">
                          </div>
                        </div>

                        <button class="btn btn-lg btn-outline-theme w-100 mb-3 text-start">
                          <img src="assets/img/g-logo.png" alt="" class="me-2"> Sign in with Google
                        </button>
                        <button class="btn btn-lg btn-outline-theme w-100 mb-4 text-start">
                          <img src="assets/img/f-logo.png" alt="" class="me-2"> Sign in with Facebook
                        </button>
                        <br><br>
                      </div>
                    </div>
                  </div>

                  <!-- page footer -->
                  <%= require('../partials/footer/index-footer.html').default %>

              </div>
              <div class="col-12 col-md-6 col-lg-6 bg-theme-r-gradient px-0 d-none d-md-block">
                <div class="row vh-100 d-flex flex-column justify-content-center gx-0 text-center">
                  <div class="col-10 col-md-10 col-lg-8 mt-auto mb-4 mb-lg-5 mx-auto">
                    <h1 class="text-white mb-4">Create and Manage your clinical appointments easily at your own very personalized space.</h1>
                    <p class="lead opacity-75">You are at the best AdminUIUX Digi Clinic<br>HTML template demo preview</p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mt-0 mx-auto">
                    <img src="assets/img/clinic/clinic-doctor-login.png" alt="" class="w-100">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </main>

      <!-- Page Level js -->
      <script src="assets/js/clinic/clinic-auth.js"></script>


  </body>

</html>