<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

  <body class="main-bg main-bg-opac main-bg-blur">
    <!-- page loader -->
    <%= require('../partials/pageloader/clinic-pageloader.html').default %>

      <!-- page header -->
      <%= require('../partials/header/clinic-header.html').default %>

        <!-- page wrapper -->
        <div class="adminuiux-wrap">

          <!-- Standard sidebar -->
          <%= require('../partials/navigation/clinic-sidebar.html').default %>

            <main class="adminuiux-content has-sidebar" onclick="contentClick()">

              <!-- breadcrumb  -->
              <div class="container-fluid mt-3">
                <div class="bg-theme-1-subtle rounded px-3 py-3">
                  <div class="row gx-3 align-items-center">
                    <div class="col-12 col-md mb-2 mb-sm-0">
                      <p class="h5">My Subscription</p>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item bi"><a href="clinic-dashboard.html">Home</a></li>
                          <li class="breadcrumb-item bi"><a href="clinic-myprofile.html">My Profile</a></li>
                          <li class="breadcrumb-item active bi" aria-current="page">My Subscription</li>
                        </ol>
                      </nav>
                    </div>

                  </div>
                </div>
              </div>

              <!-- content -->
              <div class="container mt-4" id="main-content">
                <div class="row">
                  <div class="col-12 col-lg-4 col-xl-3">
                    <!-- profile details -->
                    <div class="mb-4">
                      <figure class="avatar avatar-140 coverimg rounded-circle mb-3">
                        <img src="assets/img/modern-ai-image/user-6.jpg" alt="" style="display: none;">
                      </figure>
                      <p class="h5 mb-0">Adminuiux</p>
                      <p class="text-secondary">London, UK</p>

                      <p class="text-secondary small mb-0">Email Address</p>
                      <p>test@adminuiuix.com <button class="btn btn-square btn-link"><i class="bi bi-pencil-square"></i></button></p>

                      <p class="text-secondary small mb-0">Password</p>
                      <p>Last changed 4 years ago <button class="btn btn-square btn-link"><i class="bi bi-pencil-square"></i></button></p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 col-xl-9">
                    <div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      <p class="h6 mb-2"><i class="bi bi-telephone-plus-fill me-1"></i> Add a phone number</p>
                      <p>Ensure you never lose access to your account and receive important account updates like billing and
                        security alerts.</p>
                    </div>
                    <div class="card adminuiux-card mb-4">
                      <div class="card-header">
                        <p class="h5 mb-0">Current plan </p>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-md-12 col-lg-6 col-xl-3 mb-4 mb-lg-0">
                            <div class="card adminuiux-card border mb-3 mb-lg-0">
                              <div class="coverimg height-100 w-100 rounded">
                                <img src="assets/img/modern-ai-image/tree-5.jpg" alt="">
                              </div>
                              <div class="card-body text-center mt--50">
                                <figure class="avatar avatar-60 mb-3 mx-auto mtop-35 rounded">
                                  <img src="assets/img/logo-512.png" class="mw-100" alt="">
                                </figure>
                                <p class="h5 mb-0">Business</p>
                                <p class="text-secondary">Annual Plan</p>
                              </div>
                              <div class="card-footer text-center">
                                <p class="h4 mb-0">$ 250.00</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-6 col-xl-5 mb-4 mb-lg-0">
                            <p class="h6 mb-1">Plan Features</p>
                            <p class="text-secondary mb-4">Including features of basic plan</p>
                            <div class="row mb-2">
                              <div class="col-auto">
                                <i class="bi bi-check-circle text-secondary"></i>
                              </div>
                              <div class="col-auto ps-0">
                                Free Shipping
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-auto">
                                <i class="bi bi-check-circle text-secondary"></i>
                              </div>
                              <div class="col-auto ps-0">
                                Unlimited Send Money
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-auto">
                                <i class="bi bi-check-circle text-secondary"></i>
                              </div>
                              <div class="col-auto ps-0">
                                Multiple Currencies Support
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-auto">
                                <i class="bi bi-check-circle text-secondary"></i>
                              </div>
                              <div class="col-auto ps-0">
                                Unlimited Send Money
                              </div>
                            </div>
                            <a href="" class="btn btn-link">More details</a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-12 col-xl-4">
                            <p class="h6 mb-1">Payment Method</p>
                            <p class="text-secondary mb-4">1 Credit Card is saved</p>
                            <div class="row mb-3">
                              <div class="col-auto">
                                <i class="bi bi-credit-card text-theme-accent-1"></i>
                              </div>
                              <div class="col-auto ps-0">
                                Visa ending ****<b>25480</b>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col-auto">
                                <i class="bi bi-calendar-event text-theme-accent-1"></i>
                              </div>
                              <div class="col-auto ps-0">
                                Next Due date is <b>22-June-2022</b>
                              </div>
                            </div>
                            <button class="btn btn-link mb-4">Change Card</button>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col">
                            <a href="clinic-subscriptions.html" class="btn btn-outline-accent">View all plans</a>
                          </div>
                          <div class="col-auto">
                            <button class="btn btn-link theme-red">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card border-0 mb-4">
                      <div class="card-body">
                        <p class="h5">Best way to work fast and east to use.<br>Stay tracked and also committed with
                          priorities.
                        </p>
                        <p class="text-secondary mb-4">Get involved in the race of technology and digitization. Win the
                          heart not the war. Go beyond of imagination but not far from your loved ones.</p>

                        <div class="row">
                          <div class="col-12 col-md-12 col-lg-6 mb-4 mb-lg-0">
                            <p class="h6">Creators of statements</p>
                            <p class="text-secondary mb-4">All the export functionalities are available for your reports and email to
                              any person around the world.</p>
                            <div class="row mb-3">
                              <div class="col-auto">
                                <i class="bi bi-filetype-pdf fs-4 me-1 avatar avatar-40 bg-danger-subtle text-danger-emphasis rounded"></i>
                              </div>
                              <div class="col ps-0">
                                <p class="h6">PDF export</p>
                                <p class="text-secondary">Pdf export functionalities available for all kind of reports including
                                  charts and
                                  background images.</p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col-auto">
                                <i class="bi bi-filetype-xlsx fs-4 me-1 avatar avatar-40 bg-success-subtle text-success-emphasis rounded"></i>
                              </div>
                              <div class="col ps-0">
                                <p class="h6">Excel export</p>
                                <p class="text-secondary">Excel export functionalities available for all kind of reports including
                                  charts.
                                </p>
                              </div>
                            </div>
                            <button class="btn btn-outline-accent">Buy now</button>
                          </div>

                          <div class="col-12 col-md-12 col-lg-6">
                            <p class="h6">Analytics Stronger</p>
                            <p class="text-secondary mb-4">Keep the eye on your visitors and users. Downloads, Clicked,shared with
                              region, gender and people are available.</p>
                            <div class="row mb-3">
                              <div class="col-auto">
                                <i class="bi bi-bar-chart fs-4 me-1 avatar avatar-40 bg-purple-subtle text-purple-emphasis rounded"></i>
                              </div>
                              <div class="col ps-0">
                                <p class="h6">Reporting</p>
                                <p class="text-secondary">Subscription and manage features as per your need. More advance
                                  designs available to customize.</p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col-auto">
                                <i class="bi bi-pie-chart fs-4 me-1 avatar avatar-40 bg-pink-subtle text-pink-emphasis rounded"></i>
                              </div>
                              <div class="col ps-0">
                                <p class="h6">Sharing Domain</p>
                                <p class="text-secondary">Now you can able to track more resource availability and share
                                  your progress with multiple users.
                                </p>
                              </div>
                            </div>
                            <button class="btn btn-outline-accent">Buy now</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </main>
        </div>

        <!-- page footer -->
        <%= require('../partials/footer/clinic-footer.html').default %>
          <%= require('../partials/offcanvas/theming.html').default %>

            <!-- Page Level js -->


  </body>

</html>