<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

  <body class="main-bg main-bg-opac main-bg-blur">
    <!-- page loader -->
    <%= require('../partials/pageloader/clinic-pageloader.html').default %>

      <!-- page header -->
      <%= require('../partials/header/clinic-header.html').default %>

        <!-- page wrapper -->
        <div class="adminuiux-wrap">

          <!-- Standard sidebar -->
          <%= require('../partials/navigation/clinic-sidebar.html').default %>

            <main class="adminuiux-content has-sidebar" onclick="contentClick()">

              <!-- breadcrumb  -->
              <div class="container-fluid mt-3">
                <div class="bg-theme-1-subtle rounded px-3 py-3">
                  <div class="row gx-3 align-items-center">
                    <div class="col col-sm mb-2 mb-sm-0">
                      <p class="h5">Contact us</p>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item bi"><a href="clinic-dashboard.html">Home</a></li>
                          <li class="breadcrumb-item bi"><a href="clinic-pages.html">Pages</a></li>
                          <li class="breadcrumb-item active bi" aria-current="page">Contact us</li>
                        </ol>
                      </nav>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
              </div>

              <!-- content -->
              <div class="container mt-4" id="main-content">
                <div class="text-center">
                  <h2>We are Happy to Help you</h2>
                  <p class="text-secondary mb-4">Contact us now, we will be back to you as soon as possible</p>
                </div>

                <div class="row justify-content-center mb-4">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="row">
                      <div class="col-12 col-md-6 mb-2">
                        <div class="form-group mb-3 position-relative check-valid">
                          <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme-1"><i class="bi bi-person"></i></span>
                            <div class="form-floating">
                              <input type="text" placeholder="First Name" value="Max" required="" class="form-control">
                              <label>First Name</label>
                            </div>
                          </div>
                        </div>
                        <div class="invalid-feedback mb-3">Add valid data </div>
                      </div>
                      <div class="col-12 col-md-6 mb-2">
                        <div class="form-group mb-3 position-relative">
                          <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme-1"><i class="bi bi-person"></i></span>
                            <div class="form-floating">
                              <input type="text" placeholder="Last Name" value="Johnson" required="" class="form-control">
                              <label>last Name</label>
                            </div>
                          </div>
                        </div>
                        <div class="invalid-feedback mb-3">Add valid data </div>
                      </div>

                      <div class="col-12 col-md-12 mb-2">
                        <div class="form-group mb-3 position-relative">
                          <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme-1"><i class="bi bi-envelope"></i></span>
                            <div class="form-floating">
                              <input type="email" placeholder="Email Address" required="" class="form-control">
                              <label>Email Address</label>
                            </div>
                          </div>
                        </div>
                        <div class="invalid-feedback mb-3">Add valid data </div>
                      </div>

                      <div class="col-12 col-md-12 mb-2">
                        <div class="form-group mb-3 position-relative check-valid">
                          <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme-1"><i class="bi bi-chat-right-text"></i></span>
                            <div class="form-floating">
                              <textarea placeholder="Message" class="form-control h-auto" rows="4"></textarea>
                              <label>Message</label>
                            </div>
                          </div>
                        </div>
                        <div class="invalid-feedback mb-3">Add valid data </div>
                      </div>

                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-lg btn-theme">Submit Message</button>
                    </div>
                  </div>
                </div>

                <!-- email communication -->
                <div class="row justify-content-center mb-4 py-3 py-lg-5">
                  <div class="col-12 col-md-6 col-xl-4 text-md-end">
                    <p class="h5">Technical problem</p>
                    <p class="text-secondary">If you have any type of technical challenges and would like to get help from us please drop an email at <a href="mailto:info@adminuiux.cos">tech@adminuiux.coms</a>
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <p class="h5">General Support</p>
                    <p class="text-secondary">If you have any type of challenges regarding products and would like to get help from us please drop an email at <a href="mailto:info@adminuiux.cos">sales@adminuiux.coms</a>
                    </p>
                  </div>
                </div>

                <!-- quick links -->
                <div class="row justify-content-center">
                  <div class="col-11">
                    <div class="row">
                      <div class="col-12 col-md-4 col-lg-4">
                        <div class="card border-0 text-center mb-4">
                          <div class="card-body p-4 px-lg-5">
                            <i class="bi bi-person-video3 h1 text-theme-accent-1 mb-0 d-block"></i><br>
                            <p class="h5">Schedule a Demo</p>
                            <p class="text-secondary">Get details of features and quick look on how it works. Schedule a demo.</p>
                            <a href="clinic-schedule.html" class="btn btn-theme">Book Demo</a>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4 col-lg-4">
                        <div class="card border-0 text-center mb-4">
                          <div class="card-body p-4 px-lg-5">
                            <i class="bi bi-chat-right-dots h1 text-theme-accent-1 mb-0 d-block"></i><br>
                            <p class="h5">Communicate</p>
                            <p class="text-secondary">You have live assistant with whom you can share your query &amp; get answered.
                            </p>
                            <a href="clinic-ticket-list.html" class="btn btn-theme">Watch Community</a>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4 col-lg-4">
                        <div class="card border-0 text-center mb-4">
                          <div class="card-body p-4 px-lg-5">
                            <i class="bi bi-life-preserver h1 text-theme-accent-1 mb-0 d-block"></i><br>
                            <p class="h5">Get Support</p>
                            <p class="text-secondary">Connect with our expert by submitting details with photos &amp; documents.</p>
                            <a href="clinic-add-ticket.html" class="btn btn-theme">Create Ticket</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </main>
        </div>

        <!-- page footer -->
        <%= require('../partials/footer/clinic-footer.html').default %>
          <%= require('../partials/offcanvas/theming.html').default %>

            <!-- Page Level js -->


  </body>

</html>