<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <!-- page loader -->
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>

            <!-- page header -->
            <%= require('../partials/header/clinic-header.html').default %>

                <!-- page wrapper -->
                <div class="adminuiux-wrap">

                    <!-- Standard sidebar -->
                    <%= require('../partials/navigation/clinic-sidebar.html').default %>

                        <main class="adminuiux-content has-sidebar" onclick="contentClick()">

                            <!-- breadcrumb  -->
                            <div class="container-fluid mt-3">
                                <div class="bg-theme-1-subtle rounded px-3 py-3">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col col-sm mb-2 mb-sm-0">
                                            <p class="h5">Add Invoice (IV21002ID)</p>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb mb-0">
                                                    <li class="breadcrumb-item bi"><a href="clinic-dashboard.html">Home</a></li>
                                                    <li class="breadcrumb-item bi"><a href="clinic-billing.html">Billing</a></li>
                                                    <li class="breadcrumb-item active bi" aria-current="page">Add Invoice</li>
                                                </ol>
                                            </nav>
                                        </div>
                                        <div class="col-auto py-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- content -->
                            <div class="container mt-4" id="main-content">
                                <!-- add appointment fields -->

                                <div class="row ">
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-8 col-xxl-9">
                                        <div class="card adminuiux-card mb-4">
                                            <div class="card-body ">
                                                <!-- Doctor -->
                                                <p class="h6 mb-3">Doctor Details</p>
                                                <div class="row align-items-center mb-4">
                                                    <div class="col">
                                                        <div class="input-group input-group-md search-wrap rounded w-100">
                                                            <span class="input-group-text bg-none "><i data-feather="search"></i></span>
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control" id="searchdoctorname" placeholder="Search doctor" value="Alex">
                                                                <label for="searchdoctorname">Search doctor</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- search result -->
                                                <div class="row" id="resultdoctor">
                                                    <div class="col-12 mb-1">
                                                        <div class="card adminuiux-card border">
                                                            <div class="card-body py-2">
                                                                <div class="row justify-content-center align-items-center">
                                                                    <div class="col-auto py-2">
                                                                        <div class="avatar avatar-40 rounded-circle coverimg">
                                                                            <img src="assets/img/modern-ai-image/user-8.jpg" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col py-2">
                                                                        <p class="h6 mb-1 ">
                                                                            <span class="position-relative">John Williams
                                                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                                                    <span class="visually-hidden">online</span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="opacity-75 small">General Expert</p>
                                                                    </div>
                                                                    <div class="col-auto py-2">
                                                                        <span class="badge badge-light rounded-pill text-bg-warning">5
                                                                            <i class="bi bi-star-fill"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-auto text-end py-2">
                                                                        <button class="btn btn-square btn-outline-danger">
                                                                            <i data-feather="trash"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card adminuiux-card mb-4">
                                            <div class="card-body ">
                                                <!-- Patient -->
                                                <p class="h6 mb-3">Patient Details</p>
                                                <div class="row align-items-center mb-4">
                                                    <div class="col">
                                                        <div class="input-group input-group-md search-wrap rounded w-100">
                                                            <span class="input-group-text bg-none "><i data-feather="search"></i></span>
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control" id="searchpatientname" placeholder="Search Patient" value="Alex">
                                                                <label for="searchpatientname">Search Patient</label>
                                                            </div>
                                                            <span class="input-group-text bg-none ">
                                                                <a class="btn btn-accent collapsed" data-bs-toggle="collapse" data-bs-target=".patinetcollapse" role="button" aria-expanded="false" aria-controls="addnewpatient">
                                                                    <span class="collapse patinetcollapse show">New</span>
                                                                    <span class="collapse patinetcollapse">Existing</span>
                                                                    <span class="d-none d-md-inline-block">Patient</span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- search result -->
                                                <div class="row patinetcollapse collapse show " id="resultpatient">
                                                    <div class="col-12 mb-1">
                                                        <div class="card adminuiux-card border">
                                                            <div class="card-body py-2">
                                                                <div class="row justify-content-center align-items-center">
                                                                    <div class="col-auto py-2">
                                                                        <div class="avatar avatar-40 rounded-circle coverimg">
                                                                            <img src="assets/img/modern-ai-image/user-5.jpg" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col py-2">
                                                                        <p class="h6 mb-1 ">
                                                                            <span class="position-relative">Alexa John
                                                                                <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                                                                    <span class="visually-hidden">online</span>
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                        <p class="opacity-75 small">United States</p>
                                                                    </div>
                                                                    <div class="col-auto py-2">
                                                                        <span class="badge badge-light rounded-pill text-bg-theme-accent-1">Revisit</span>
                                                                        <span class="badge badge-light rounded-pill text-bg-theme-accent-1">VIP</span>
                                                                    </div>
                                                                    <div class="col-auto text-end py-2">
                                                                        <p class="opacity-75 small mb-0">Last Visit</p>
                                                                        <p class="small">26 July 2024</p>
                                                                    </div>
                                                                    <div class="col-auto text-end py-2">
                                                                        <button class="btn btn-square btn-outline-danger">
                                                                            <i data-feather="trash"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- new patient collapse-->
                                                <div class="collapse patinetcollapse" id="addnewpatient">
                                                    <!-- Details -->
                                                    <p class="h6 mb-3">New Patient Details</p>
                                                    <div class="row mb-1">
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="patientname" placeholder="Enter Patient First Name" value="Alex">
                                                                <label for="patientname">Patient First Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="patientmlname" placeholder="Enter Patient Middle Name">
                                                                <label for="patientmlname">Patient Middle Name (Optional)</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="patientlname" placeholder="Enter Patient Last Name" value="Smith">
                                                                <label for="patientlname">Patient Last Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="dobdate" placeholder="Select Birthday">
                                                                <label for="dobdate">Select Birthday</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="phoneon" placeholder="Enter phone" value="+91 4152 21A45488004">
                                                                <label for="phoneon">Enter Phone</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="email" class="form-control" id="emailaddresson" placeholder="Enter Email Address" value="alex.smith@tgmail.com">
                                                                <label for="emailaddresson">Email Address</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Address -->
                                                    <p class="h6 mb-3">New Patient Address</p>
                                                    <div class="row mb-1">
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="house" placeholder="Enter house number" value="12">
                                                                <label for="house">House Number</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="street" placeholder="Enter Street" value="Featherstone Street">
                                                                <label for="street">Street</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="locality" placeholder="Enter locality" value="Ward">
                                                                <label for="locality">Locality</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="town" placeholder="Enter Town" value="London">
                                                                <label for="town">Town</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="city" placeholder="Enter City" value="London">
                                                                <label for="city">City</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="postcode" placeholder="Enter Postcode" value="NG25 5AY">
                                                                <label for="postcode">Postcode</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 col-xl-4">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="country" placeholder="Enter Country" value="United Kingdom">
                                                                <label for="country">Country</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card adminuiux-card mb-4">
                                            <div class="card-body ">
                                                <!-- Patient -->
                                                <p class="h6 mb-3">Service Details</p>
                                                <div class="row align-items-center mb-4">
                                                    <div class="col">
                                                        <div class="input-group input-group-md search-wrap rounded w-100">
                                                            <span class="input-group-text bg-none "><i data-feather="search"></i></span>
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control" id="searchservicename" placeholder="Search Service" value="Headache">
                                                                <label for="searchservicename">Search Service</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- selected services -->
                                                <div class="card adminuiux-card border mb-3">
                                                    <div class="card-body py-2">
                                                        <div class="row justify-content-center align-items-center">
                                                            <div class="col py-2">
                                                                <p class="h6 mb-1 ">
                                                                    <span class="position-relative">Consultation Visit </span>
                                                                </p>
                                                                <p class="opacity-75 small">30min </p>
                                                            </div>
                                                            <div class="col-auto text-end py-2">
                                                                <p class="h6 mb-0">$ 30.00</p>
                                                                <p class="opacity-75 small">$ 2.00 Tax</p>
                                                            </div>
                                                            <div class="col-auto text-end py-2">
                                                                <button class="btn btn-square btn-outline-danger">
                                                                    <i data-feather="trash"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card adminuiux-card border mb-3">
                                                    <div class="card-body py-2">
                                                        <div class="row justify-content-center align-items-center">
                                                            <div class="col py-2">
                                                                <p class="h6 mb-1 ">
                                                                    <span class="position-relative">X Ray</span>
                                                                </p>
                                                                <p class="opacity-75 small">15min </p>
                                                            </div>
                                                            <div class="col-auto text-end py-2">
                                                                <p class="h6 mb-0">$ 50.00</p>
                                                                <p class="opacity-75 small">$ 4.00 Tax</p>
                                                            </div>
                                                            <div class="col-auto text-end py-2">
                                                                <button class="btn btn-square btn-outline-danger">
                                                                    <i data-feather="trash"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Describe health issue -->
                                                <p class="h6 mb-3">Describe health issue</p>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="healthissue" placeholder="Health Issue in few words">
                                                            <label for="healthissue">Health Issue in few words</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-4 col-xxl-3">
                                        <div class="position-sticky" style="top: 5.5rem;">
                                            <div class="row mb-4">
                                                <!-- inline calendar -->
                                                <div class="col-12 col-sm-6 col-xl-12 mb-4">
                                                    <p class="h6 mb-3">Select Date</p>
                                                    <div class="inlinewrap1 inline-calendar mx-auto"></div>
                                                    <input type="text" id="inlinewrap1" class="d-none">
                                                </div>
                                                <!-- appointment timings -->
                                                <div class="col-12 col-sm-6 col-xl-12 mb-4">
                                                    <p class="h6 mb-3">Select Time</p>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1 active">
                                                        <span>11:00 AM</span>
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>11:30
                                                            AM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>12:00
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>12:30
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>1:00
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>1:30
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>2:00
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>2:30
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>3:00
                                                            PM</span></button>
                                                    <button class="btn btn-sm btn-outline-theme mb-2 me-1"><span>3:30
                                                            PM</span></button>
                                                </div>
                                                <div class="col-12">
                                                    <p class="h6 mb-3">Payment Details</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="h5 mb-1">$ 80.00</p>
                                                    <p class="text-secondary small mb-0">Sub Total</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="h5 mb-1">$ 6.00</p>
                                                    <p class="text-secondary small mb-0">Total Tax</p>
                                                </div>
                                                <div class="col text-end ms-auto">
                                                    <p class="h5 mb-1 text-success">$ 86.00</p>
                                                    <p class="text-secondary small mb-0">Total Payable</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- save and cancel buttons -->
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col">
                                            <a href="clinic-billing.html" class="btn btn-accent my-2"><i class="bi bi-floppy me-2"></i>Create</a>
                                            <!-- <button class="btn btn-accent my-2"><i class="bi bi-floppy me-2"></i>Submit</button> -->
                                            <button class="btn btn-outline-accent my-2 mx-2">Save as draft</button>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-link my-2" data-bs-toggle="modal" data-bs-target="#modalcancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </main>
                </div>

                <!-- page footer -->
                <%= require('../partials/footer/clinic-footer.html').default %>
                    <%= require('../partials/offcanvas/theming.html').default %>

                        <!-- Page Level js -->
                        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>


    </body>

</html>