<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

  <body class="main-bg main-bg-opac main-bg-blur">
    <!-- page loader -->
    <%= require('../partials/pageloader/clinic-pageloader.html').default %>

      <!-- page header -->
      <%= require('../partials/header/clinic-header.html').default %>

        <!-- page wrapper -->
        <div class="adminuiux-wrap">

          <!-- Standard sidebar -->
          <%= require('../partials/navigation/clinic-sidebar.html').default %>

            <main class="adminuiux-content has-sidebar" onclick="contentClick()">

              <!-- breadcrumb -->
              <div class="container-fluid mt-3">
                <div class="bg-theme-1-subtle rounded px-3 py-3">
                  <div class="row gx-3 align-items-center">
                    <div class="col col-sm mb-2 mb-sm-0">
                      <p class="h5">Chat and Call</p>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item bi"><a href="clinic-dashboard.html">Home</a></li>
                          <li class="breadcrumb-item active bi" aria-current="page">Chat and Call</li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Content -->
              <div class="container-fluid mt-4" id="main-content">
                <div class="inner-sidebar-wrap">
                  <div class="inner-sidebar py-0 height-dynamic" style="--h-dynamic: calc(100vh - 260px)">
                    <div class="card adminuiux-card bg-none h-100">
                      <div class="card-header mb-3 p-0">
                        <div class="row gx-3 align-items-center">
                          <div class="col-auto d-block d-lg-none">
                            <button class="btn btn-link btn-square innersidebar-btn" onclick="innersidebar()">
                              <i class="bi bi-layout-sidebar h5 vm"></i>
                            </button>
                          </div>
                          <div class="col">
                            <div class="input-group">
                              <input type="text" class="form-control border-0" placeholder="Search contact... " value="">
                              <div class="dropdown input-group-text border-0 p-1">
                                <button class="btn btn-square btn-link caret-none" type="button" id="statuschat2" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                  <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="statuschat2" style="">
                                  <li><a class="dropdown-item" href="javascript:void(0)"><span class="align-middle me-1 bg-success rounded-circle d-inline-block p-1"></span> Online</a></li>
                                  <li><a class="dropdown-item" href="javascript:void(0)"><span class="align-middle me-1 bg-warning rounded-circle d-inline-block p-1"></span> Away</a></li>
                                  <li><a class="dropdown-item" href="javascript:void(0)"><span class="align-middle me-1 bg-danger rounded-circle d-inline-block p-1"></span> Offline</a></li>
                                  <li><a class="dropdown-item" href="javascript:void(0)"><span class="align-middle me-1 bg-secondary rounded-circle d-inline-block p-1"></span> Disabled</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body overflow-y-auto p-0">
                        <ul class="list-group adminuiux-list-group list-group-flush chat-list-contacts bg-none rounded-0 ">
                          <li class="list-group-item active">
                            <div class="row flex-nowrap">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 coverimg rounded-circle">
                                  <img src="assets/img/modern-ai-image/bus-2.jpg" alt="" style="display: none;">
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">UX Design Group</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check"></i>
                                      2:00
                                      am</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item new">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 rounded-circle bg-theme">
                                  <span class="h6 vm">JM</span>
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Mr. Jack Mario</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all"></i>
                                      2:00
                                      am</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item new">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 coverimg rounded-circle">
                                  <img src="assets/img/modern-ai-image/user-4.jpg" alt="" style="display: none;">
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Roberto Carlos</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all text-info"></i>
                                      2:00 am</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 coverimg rounded-circle">
                                  <img src="assets/img/modern-ai-image/user-1.jpg" alt="" style="display: none;">
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">The Adminuiux</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all text-success"></i> 2 days</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 rounded-circle bg-warning text-white">
                                  <span class="h6 vm">JC</span>
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Ms. Jully CTO</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all"></i>
                                      4
                                      days
                                    </small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#chatmodalwindow">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 rounded-circle bg-success text-white">
                                  <span class="h6 vm">JC</span>
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Aswatthma D-Plan</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check"></i> 1
                                      mo
                                    </small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 coverimg rounded-circle bg-theme">
                                  <img src="assets/img/modern-ai-image/user-1.jpg" alt="" style="display: none;">
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Adminuiux Support</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check"></i>
                                      2:00
                                      am</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Thank you for connecting</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 rounded-circle bg-theme">
                                  <span class="h6 vm">JM</span>
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Mr. Jack Mario</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all"></i>
                                      2:00
                                      am</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 coverimg rounded-circle">
                                  <img src="assets/img/modern-ai-image/user-4.jpg" alt="" style="display: none;">
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Roberto Carlos</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all text-info"></i>
                                      2:00 am</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 coverimg rounded-circle">
                                  <img src="assets/img/modern-ai-image/user-1.jpg" alt="" style="display: none;">
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">The Adminuiux</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all text-success"></i> 2 days</small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <figure class="avatar avatar-40 rounded-circle bg-warning text-white">
                                  <span class="h6 vm">JC</span>
                                </figure>
                              </div>
                              <div class="col-9 align-self-center ps-0">
                                <div class="row g-0">
                                  <div class="col-8">
                                    <p class="text-truncate mb-0">Ms. Jully CTO</p>
                                  </div>
                                  <div class="col-4 text-end"><small class="opacity-50 fs-10 mb-1"><i class="bi bi-check-all"></i>
                                      4
                                      days
                                    </small></div>
                                </div>
                                <p class="opacity-75 small text-truncate">Spread love and spread this template</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="inner-sidebar-content h-100">
                    <div class="row gx-3 h-100 mx-0">
                      <div class="col-12 col-md-6 col-lg-7 col-xl-8 col-xxl-9 height-dynamic" style="--h-dynamic: calc(100vh - 260px)">
                        <div class="card adminuiux-card h-100 mb-3">
                          <div class="card-header border-bottom">
                            <div class="row align-items-center gx-2">
                              <div class="col-auto d-block d-lg-none">
                                <button class="btn btn-link btn-square innersidebar-btn" onclick="innersidebar()">
                                  <i class="bi bi-layout-sidebar h5 vm"></i>
                                </button>
                              </div>
                              <div class="col-auto">
                                <div class="row align-items-center gx-2">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 coverimg rounded-circle">
                                      <img src="assets/img/modern-ai-image/bus-2.jpg" alt="" style="display: none;">
                                    </figure>
                                  </div>
                                  <div class="col align-self-center">
                                    <p class="h6 mb-0">
                                      <span class="position-relative">UX Design Group
                                        <span class="position-absolute top-50 start-100 translate-middle p-1 bg-success rounded-circle mx-2">
                                          <span class="visually-hidden">New alerts</span>
                                        </span>
                                      </span>
                                    </p>
                                    <p class="text-secondary small">35 members, 10 online</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <button type="button" class="btn btn-link btn-square text-success" data-bs-toggle="modal" data-bs-target="#callmodal">
                                  <i class="bi bi-camera-video text-success"></i>
                                  <span class="d-none d-xl-inline">Call</span>
                                </button>
                              </div>
                              <div class="col"></div>
                              <div class="col-auto">
                                <button class="btn btn-link btn-square" data-bs-toggle="collapse" data-bs-target="#searchchat" aria-expanded="false" aria-controls="searchchat">
                                  <i class="bi bi-search"></i>
                                </button>
                              </div>
                              <div class="col-auto">
                                <div class="dropdown">
                                  <button class="btn btn-square btn-link caret-none" type="button" id="statuschat" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="statuschat" style="">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Clear Chat</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Delete</a></li>
                                    <li><a class="dropdown-item theme-red" href="javascript:void(0)">Report</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class=" collapse" id="searchchat">
                            <div class="d-block p-3">
                              <input type="search" class="form-control" placeholder="Search in chat... " value="">
                            </div>
                          </div>
                          <div class="card-body overflow-y-auto chat-list">
                            <div class="row no-margin left-chat">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      <p class="small mb-2"><a href="" class="style-none">Alex Smith</a></p>
                                      <p>Hi!</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <p class="text-secondary small time"><i class="bi bi-check"></i> 9:00 pm</p>
                              </div>
                            </div>
                            <div class="row no-margin right-chat">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      Hi!<br>Yes please tell us your query.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 text-end">
                                <p class="text-secondary small time"><i class="bi bi-check"></i> 9:10 pm</p>
                              </div>
                            </div>
                            <div class="row justify-content-center text-center">
                              <div class="col-auto text-center">
                                <div class="alert alert-light mx-auto py-1 mb-3">26 November 2024</div>
                              </div>
                            </div>
                            <div class="row no-margin left-chat">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      <p class="small mb-2"><a href="" class="style-none">Mr. Jack Mario</a></p>
                                      Adminuiux is amazing and we thank you. How can we buy?
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <p class="text-secondary small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm
                                </p>
                              </div>
                            </div>
                            <div class="row no-margin right-chat first">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      <div class=" position-relative mb-2 figure">
                                        <div class="position-absolute end-0 top-0">
                                          <button class="btn btn-square btn-theme m-2">
                                            <i class="bi bi-download"></i>
                                          </button>
                                        </div>
                                        <img src="assets/img/modern-ai-image/bus-1.jpg" alt="">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row no-margin right-chat">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      Thank you too. You can buy it from preview page and click on buy now.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 text-end">
                                <p class="text-secondary small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm
                                </p>
                              </div>
                            </div>
                            <div class="row justify-content-center text-center">
                              <div class="col-auto text-center">
                                <div class="alert alert-light mx-auto py-1 mb-3">27 November 2024</div>
                              </div>
                            </div>
                            <div class="row no-margin left-chat first">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      <p class="small mb-2"><a href="" class="style-none">Ms. Jully CTO</a></p>
                                      <div class=" position-relative figure">
                                        <video src="https://adminuiux.com/website/adminuiux.mp4" controls="" preload="none"></video>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row no-margin left-chat">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      We also love this small presentation.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <p class="text-secondary small time"><i class="bi bi-check-all text-primary"></i> 8:00
                                    pm
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="row no-margin right-chat">
                              <div class="col-12">
                                <div class="chat-block">
                                  <div class="row">
                                    <div class="col">
                                      <p>Ohh... Thats great. Adminuiux is HTML template can be used in various business domains
                                        like
                                        SAAS, CRM, Content Management, Manufacturing, inventory, IT, administration etc.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 text-end">
                                <p class="text-secondary small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer border-top">
                            <div class="input-group ">
                              <button class="btn btn-square btn-link"><i class="bi bi-emoji-smile"></i></button>
                              <button class="btn btn-square btn-link"><i class="bi bi-paperclip"></i></button>
                              <input type="text" class="form-control border-0" placeholder="Type your message... " value="">
                              <button class="btn btn-square btn-link" type="button">
                                <i class="bi bi-send"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
                        <div class="card adminuiux-card mb-3 mt-3 mt-md-0">
                          <div class="card-header">
                            <p class="h6">Group Details</p>
                          </div>
                          <div class="card-body py-0 px-2">
                            <div class="accordion adminuiux-accordion" id="detailaccord">
                              <div class="accordion-item">
                                <p class="accordion-header">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#detail1" aria-expanded="true" aria-controls="detail1">
                                    <i class="bi bi-image fs-5 me-2"></i> 365 Photos
                                  </button>
                                </p>
                                <div id="detail1" class="accordion-collapse collapse show" data-bs-parent="#detailaccord">
                                  <div class="accordion-body">
                                    <div class="swiper swipernav">
                                      <div class="swiper-wrapper">
                                        <div class="swiper-slide w-auto">
                                          <figure class="avatar avatar-80 coverimg rounded">
                                            <img src="assets/img/modern-ai-image/bus-1.jpg" alt="">
                                          </figure>
                                        </div>
                                        <div class="swiper-slide w-auto">
                                          <figure class="avatar avatar-80 coverimg rounded">
                                            <img src="assets/img/modern-ai-image/pet-1.jpg" alt="">
                                          </figure>
                                        </div>
                                        <div class="swiper-slide w-auto">
                                          <figure class="avatar avatar-80 coverimg rounded">
                                            <img src="assets/img/modern-ai-image/tree-18.jpg" alt="">
                                          </figure>
                                        </div>
                                        <div class="swiper-slide w-auto">
                                          <figure class="avatar avatar-80 coverimg rounded">
                                            <img src="assets/img/modern-ai-image/lion-5.jpg" alt="">
                                          </figure>
                                        </div>
                                        <div class="swiper-slide w-auto">
                                          <div class="avatar hegiht-80 width-80 rounded bg-theme-1-subtle text-theme-accent-1 text-center">
                                            <div class="py-3">
                                              <p class="h5 mb-0">150+</p>
                                              <p class="opacity-75 small">More files</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <p class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#detail2" aria-expanded="false" aria-controls="detail2">
                                    <i class="bi bi-camera-reels fs-5 me-2"></i> 235 Videos
                                  </button>
                                </p>
                                <div id="detail2" class="accordion-collapse collapse" data-bs-parent="#detailaccord">
                                  <div class="accordion-body">
                                    <div class="swiper swipernav">
                                      <div class="swiper-wrapper">
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex justify-content-center align-items-center">
                                            <img src="assets/img/modern-ai-image/flamingo-1.jpg" alt="">
                                            <i class="bi bi-play text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex justify-content-center align-items-center">
                                            <img src="assets/img/modern-ai-image/flamingo-2.jpg" alt="">
                                            <i class="bi bi-play text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex justify-content-center align-items-center">
                                            <img src="assets/img/modern-ai-image/flamingo-3.jpg" alt="">
                                            <i class="bi bi-play text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex justify-content-center align-items-center">
                                            <img src="assets/img/modern-ai-image/flamingo-4.jpg" alt="">
                                            <i class="bi bi-play text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <div class="bg-theme-1-subtle text-theme-accent-1 height-100 w-100 rounded text-center">
                                            <div class="py-4">
                                              <p class="h5 mb-0">150+</p>
                                              <p class="opacity-75 small">More files</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <p class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#detail3" aria-expanded="false" aria-controls="detail3">
                                    <i class="bi bi-globe fs-5 me-2"></i> 11 Links
                                  </button>
                                </p>
                                <div id="detail3" class="accordion-collapse collapse" data-bs-parent="#detailaccord">
                                  <div class="accordion-body">
                                    <p>
                                      <a href="" class="badge badge-light text-bg-theme-accent-1 me-1 mb-1">Youtube Channel
                                        <i class="bi bi-box-arrow-up-right ms-1"></i></a>
                                      <a href="" class="badge badge-light text-bg-theme-accent-1 me-1 mb-1">adminuiux.com
                                        <i class="bi bi-box-arrow-up-right ms-1"></i></a>
                                      <a href="" class="badge badge-light text-bg-theme-accent-1 me-1 mb-1">best mobile template
                                        <i class="bi bi-box-arrow-up-right ms-1"></i></a>
                                      <a href="" class="badge badge-light text-bg-theme-accent-1 me-1 mb-1">Read to care
                                        <i class="bi bi-box-arrow-up-right"></i></a>
                                      <a href="" class="badge badge-light text-bg-theme-accent-1 me-1 mb-1">Emotion in design...
                                        <i class="bi bi-box-arrow-up-right ms-1"></i></a>
                                      <a href="" class="badge badge-light text-bg-theme-accent-1 me-1 mb-1">6+ more..</a>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <p class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#detail4" aria-expanded="false" aria-controls="detail4">
                                    <i class="bi bi-music-note-beamed fs-5 me-2"></i> 12 Music Files
                                  </button>
                                </p>
                                <div id="detail4" class="accordion-collapse collapse" data-bs-parent="#detailaccord">
                                  <div class="accordion-body">
                                    <div class="swiper swipernav">
                                      <div class="swiper-wrapper">
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex align-items-center justify-content-center text-center">
                                            <img src="assets/img/modern-ai-image/tree-1.jpg" alt="">
                                            <i class="bi bi-music-note-beamed text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex align-items-center justify-content-center text-center">
                                            <img src="assets/img/modern-ai-image/tree-2.jpg" alt="">
                                            <i class="bi bi-music-note-beamed text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex align-items-center justify-content-center text-center">
                                            <img src="assets/img/modern-ai-image/tree-3.jpg" alt="">
                                            <i class="bi bi-music-note-beamed text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <figure class="coverimg height-100 w-100 rounded d-flex align-items-center justify-content-center text-center">
                                            <img src="assets/img/modern-ai-image/tree-4.jpg" alt="">
                                            <i class="bi bi-music-note-beamed text-white fs-4 rounded-circle avatar avatar-60 bg-theme-1-subtle d-block mx-auto"></i>
                                          </figure>
                                        </div>
                                        <div class="swiper-slide width-100">
                                          <div class="bg-theme-1-subtle text-theme-accent-1 height-100 w-100 rounded text-center">
                                            <div class="py-4">
                                              <p class="h5 mb-0">150+</p>
                                              <p class="opacity-75 small">More files</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card adminuiux-card ">
                          <div class="card-header">
                            <p class="h6">23 Team Members</p>
                          </div>
                          <div class="card-body py-1 px-2 overflow-y-auto height-dynamic" style="--h-dynamic: 226px">
                            <ul class="list-group adminuiux-list-group list-group-flush chat-list-contacts bg-none rounded-0 ">
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 coverimg rounded-circle">
                                      <img src="assets/img/modern-ai-image/user-1.jpg" alt="" style="display: none;">
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">The Adminuiux</p>
                                    <p class="opacity-75 small text-truncate">Admin, admin@tstgmail.com</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 rounded-circle bg-warning text-white">
                                      <span class="h6 vm">JC</span>
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">Ms. Jully CTO</p>
                                    <p class="opacity-75 small text-truncate">admin, +56598511A4562</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#chatmodalwindow">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 rounded-circle bg-success text-white">
                                      <span class="h6 vm">JC</span>
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">Aswatthma D-Plan</p>
                                    <p class="opacity-75 small text-truncate">+3698550015</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 coverimg rounded-circle bg-theme">
                                      <img src="assets/img/modern-ai-image/user-1.jpg" alt="" style="display: none;">
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">Adminuiux Support</p>
                                    <p class="opacity-75 small text-truncate">support@tsestmai.com</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 rounded-circle bg-theme">
                                      <span class="h6 vm">JM</span>
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">Mr. Jack Mario</p>
                                    <p class="opacity-75 small text-truncate">jackma@gmailtest.com</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 coverimg rounded-circle">
                                      <img src="assets/img/modern-ai-image/user-4.jpg" alt="" style="display: none;">
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">Roberto Carlos</p>
                                    <p class="opacity-75 small text-truncate">+79946469852A00</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 coverimg rounded-circle">
                                      <img src="assets/img/modern-ai-image/user-1.jpg" alt="" style="display: none;">
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">The Adminuiux</p>
                                    <p class="opacity-75 small text-truncate">hello@adminuiux.co</p>
                                  </div>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col-auto">
                                    <figure class="avatar avatar-40 rounded-circle bg-warning text-white">
                                      <span class="h6 vm">JC</span>
                                    </figure>
                                  </div>
                                  <div class="col-9 align-self-center ps-0">
                                    <p class="text-truncate mb-0">Ms. Jully CTO</p>
                                    <p class="opacity-75 small text-truncate">+9589621510A00</p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- call modal -->
              <div class="modal adminuiux-modal fade" id="callmodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
                  <div class="modal-content">
                    <div class="modal-body p-0 position-relative">
                      <video src="assets/img/clinic/4260694-sd_540_960_25fps.mp4" autoplay loop class="top-0 start-0 w-100 h-100 z-index-0  d-block rounded">
                      </video>

                      <div class="position-absolute bottom-0 start-0 end-0 m-3 m-lg-4 rounded z-index-1">
                        <div class="row justify-content-center">
                          <div class="col-auto mb-3 position-relative">
                            <button type="button" class="btn btn-light btn-square rounded-circle position-absolute top-0 end-0 mt-1 mx-3">
                              <i class="bi bi-mic h-auto w-auto"></i>
                            </button>
                            <video src="assets/img/clinic/5453694-sd_540_960_25fps.mp4" autoplay loop class="top-0 start-0 width-100 h-auto z-index-0 d-block rounded border border-2 shadow">
                            </video>
                          </div>
                          <div class="col-auto mb-3 position-relative">
                            <button type="button" class="btn btn-light btn-square rounded-circle position-absolute top-0 end-0 mt-1 mx-3">
                              <i class="bi bi-mic h-auto w-auto"></i>
                            </button>
                            <video src="assets/img/clinic/5356413-sd_540_960_25fps.mp4" autoplay loop class="top-0 start-0 width-100 h-auto z-index-0 d-block rounded border border-2 shadow">
                            </video>
                          </div>
                        </div>
                        <div class="row gx-3 align-items-end justify-content-center mx-0 overlay-option p-3 rounded">
                          <div class="col-auto">
                            <button type="button" class="btn btn-light avatar avatar-60 rounded-circle">
                              <i class="bi bi-mic-mute h-auto w-auto fs-4"></i>
                            </button>
                          </div>
                          <div class="col-auto">
                            <button type="button" class="btn btn-accent avatar avatar-60 rounded-circle">
                              <i class="bi bi-camera-video h-auto w-auto fs-4"></i>
                            </button>
                          </div>
                          <div class="col-auto">
                            <button type="button" class="btn btn-light avatar avatar-60 rounded-circle">
                              <i class="bi bi-volume-up h-auto w-auto fs-4"></i>
                            </button>
                          </div>
                          <div class="col-auto">
                            <button type="button" class="btn btn-danger avatar avatar-60 rounded-circle" data-bs-dismiss="modal">
                              <i class="bi bi-telephone-x h-auto w-auto fs-4"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </main>
        </div>

        <!-- page footer -->
        <%= require('../partials/footer/clinic-footer.html').default %>
          <%= require('../partials/offcanvas/theming.html').default %>

            <!-- Page Level js -->


  </body>

</html>