<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

  <body>
    <!--Full pageloader-->
    <%= require('../partials/pageloader/clinic-pageloader.html').default %>

      <main class="flex-shrink-0 pt-0 h-100">
        <div class="container-fluid">
          <div class="auth-wrapper">

            <!-- login wrap -->
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 minvheight-100 d-flex flex-column px-0">

                <!-- page header -->
                <%= require('../partials/header/clinic-auth-header.html').default %>

                  <div class="h-100 py-3 px-3">
                    <div class="row h-100 align-items-center justify-content-center ">
                      <div class="col-12 col-md-10 col-lg-8 col-xxl-6 login-box">
                        <div class="text-center mb-4">
                          <h1 class="mb-2">Let's get started &#128077;</h1>
                          <p class="lead text-secondary">Provide your few details</p>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="namef" placeholder="Enter first name" value="Max" autofocus="">
                              <label for="namef">First Name</label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="namel" placeholder="Enter last name" value="Doe">
                              <label for="namel">Last Name</label>
                            </div>
                          </div>
                        </div>

                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="emailadd" placeholder="Enter email address" value="info@adminuiux">
                          <label for="emailadd">Email Address</label>
                        </div>


                        <div class="input-group mb-3">
                          <div class="form-floating maxwidth-100">
                            <select class="form-select" id="code" aria-label="Country code">
                              <option value="1">+1</option>
                              <option selected>+44</option>
                              <option value="3">+66</option>
                              <option value="2">+91</option>
                            </select>
                            <label for="code">Code</label>
                          </div>
                          <div class="form-floating">
                            <input type="text" class="form-control" id="phonen" placeholder="Enter your phone number">
                            <label for="phonen">Phone Number</label>
                          </div>
                        </div>

                        <div class="position-relative">
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="checkstrength" placeholder="Enter your password">
                            <label for="checkstrength">Password</label>
                          </div>
                          <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 ">
                            <i class="bi bi-eye"></i>
                          </button>
                        </div>
                        <div class="feedback mb-3">
                          <div class="row">
                            <div class="col">
                              <div class="check-strength" id="checksterngthdisplay">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <span class="small" id="textpassword"></span>
                              <i class="bi bi-info-circle text-theme ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
                            </div>
                          </div>
                        </div>

                        <div class="position-relative">
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="passwd" placeholder="Confirm your password">
                            <label for="passwd">Confirm Password</label>
                          </div>
                          <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 ">
                            <i class="bi bi-eye"></i>
                          </button>
                        </div>

                        <a href="clinic-signup-success.html" class="btn btn-lg btn-theme w-100 mb-4">Sign up</a>
                        <!-- <button class="btn btn-lg btn-theme w-100 mb-4">Login</button> -->
                        <div class="text-center mb-3">
                          Already have account? <a href="clinic-login.html" class=" ">Login</a> here.
                        </div>

                        <div class="row align-items-center mb-3">
                          <div class="col">
                            <hr class="">
                          </div>
                          <div class="col-auto">
                            <p class="text-secondary">OR Continue with</p>
                          </div>
                          <div class="col">
                            <hr class="">
                          </div>
                        </div>
                        <div class="row align-items-center">
                          <div class="col">
                            <button class="btn btn-lg btn-outline-theme w-100 mb-3 text-start">
                              <img src="assets/img/g-logo.png" alt="" class="me-2"> Google
                            </button>
                          </div>
                          <div class="col">
                            <button class="btn btn-lg btn-outline-theme w-100 mb-4 text-start">
                              <img src="assets/img/f-logo.png" alt="" class="me-2"> Facebook
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <!-- page footer -->
                  <%= require('../partials/footer/index-footer.html').default %>

              </div>
              <div class="col-12 col-md-6 col-lg-6 bg-theme-r-gradient px-0 d-none d-md-block">
                <div class="row vh-100 d-flex flex-column justify-content-center gx-0 text-center">
                  <div class="col-10 col-md-10 col-lg-8 mt-auto mb-4 mb-lg-5 mx-auto">
                    <h1 class="text-white mb-4">Join us and explore unlimited possibilities for creating & managing
                      clinical appointments.</h1>
                    <p class="lead opacity-75">You are at the best Adminuiux Digi Clinic<br>HTML template demo preview</p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mt-0 mx-auto">
                    <img src="assets/img/clinic/clinic-doctor-login.png" alt="" class="w-100">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </main>

      <!-- Page Level js -->
      <script src="assets/js/clinic/clinic-auth.js"></script>

  </body>

</html>