<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Tabs</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Tabs</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">

                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">JS Tabs</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-tabs adminuiux-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                            <br>
                                            <p class="h5">Home</p>
                                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.</p>
                                        </div>
                                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                            <br>
                                            <p class="h5">Profile</p>
                                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.</p>
                                        </div>
                                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                                            <br>
                                            <p class="h5">Contact</p>
                                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.</p>
                                        </div>
                                        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse3">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;ul class="nav nav-tabs adminuiux-tabs" id="myTab" role="tablist"&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"&gt;Home&lt;/button&gt;
    &lt;/li&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"&gt;Profile&lt;/button&gt;
    &lt;/li&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"&gt;Contact&lt;/button&gt;
    &lt;/li&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled&gt;Disabled&lt;/button&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;div class="tab-content" id="myTabContent"&gt;
    &lt;div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"&gt;
        &lt;br&gt;
        &lt;p class="h5"&gt;Home&lt;/p&gt;
        &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"&gt;
        &lt;br&gt;
        &lt;p class="h5"&gt;Profile&lt;/p&gt;
        &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0"&gt;
        &lt;br&gt;
        &lt;p class="h5"&gt;Contact&lt;/p&gt;
        &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0"&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">JS Tabs Pills</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled>Disabled</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                            <p class="h5">Home</p>
                                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.</p>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                            <p class="h5">Profile</p>
                                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.</p>
                                        </div>
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                                            <p class="h5">Contact</p>
                                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.</p>
                                        </div>
                                        <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse4">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"&gt;Home&lt;/button&gt;
    &lt;/li&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"&gt;Profile&lt;/button&gt;
    &lt;/li&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"&gt;Contact&lt;/button&gt;
    &lt;/li&gt;
    &lt;li class="nav-item" role="presentation"&gt;
        &lt;button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled&gt;Disabled&lt;/button&gt;
    &lt;/li&gt;
&lt;/ul&gt;
&lt;div class="tab-content" id="pills-tabContent"&gt;
    &lt;div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0"&gt;
        &lt;p class="h5"&gt;Home&lt;/p&gt;
        &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0"&gt;
        &lt;p class="h5"&gt;Profile&lt;/p&gt;
        &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0"&gt;
        &lt;p class="h5"&gt;Contact&lt;/p&gt;
        &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet felis at eros scelerisque egestas eu et velit. Mauris venenatis vitae magna non vehicula. Ut porttitor consequat mauris, non varius nunc euismod quis. Mauris venenatis justo non lorem accumsan, at elementum neque egestas. Sed feugiat, ipsum et pretium mollis, metus erat aliquam ligula, eu congue massa felis eu neque. Nulla euismod molestie volutpat. Integer tempus, nisl non pharetra aliquam, ex massa vehicula velit, vel facilisis nibh turpis eu felis. Ut maximus at nisl at egestas. Curabitur et efficitur urna, vel vehicula elit. Nullam eget metus id nisl mattis blandit id sed risus. Praesent aliquam, eros venenatis egestas vehicula, risus eros vulputate lorem, et commodo nulla turpis a nibh.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0"&gt;...&lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-nav.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Navs</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-breadcrumbs.html" class="btn btn-theme my-2">Breadcrumb <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>