<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Swiper Carousel</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Swiper Carousel</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Swiper Carousel Auto width</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-secondary">Swiper is the most modern free and open source mobile touch slider with hardware accelerated transitions and amazing native behavior. Use it on websites, web apps, and mobile native/hybrid apps.</p>
                                    <div class="swiper swipernav mb-3">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-danger-subtle text-danger-emphasis rounded mb-3">
                                                            <i class="bi bi-heart-pulse fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">80 <small class="opacity-50 h6 fw-normal">bpm</small>
                                                        </p>
                                                        <p class="opacity-50">HeartBeat</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-warning-subtle text-warning-emphasis rounded mb-3">
                                                            <i class="bi bi-thermometer-half fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">30.7<sup>&deg;</sup> <small class="opacity-50 h6 fw-normal">C</small>
                                                        </p>
                                                        <p class="opacity-50">Temperature</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-info-subtle text-info-emphasis rounded mb-3">
                                                            <i class="bi bi-droplet-half fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">98 <small class="opacity-50 h6 fw-normal">%</small>
                                                        </p>
                                                        <p class="opacity-50">O<sub>2</sub> Oxygen</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-danger-subtle text-danger-emphasis rounded mb-3">
                                                            <i class="bi bi-heart-pulse fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">80 <small class="opacity-50 h6 fw-normal">bpm</small>
                                                        </p>
                                                        <p class="opacity-50">HeartBeat</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-warning-subtle text-warning-emphasis rounded mb-3">
                                                            <i class="bi bi-thermometer-half fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">30.7<sup>&deg;</sup> <small class="opacity-50 h6 fw-normal">C</small>
                                                        </p>
                                                        <p class="opacity-50">Temperature</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-info-subtle text-info-emphasis rounded mb-3">
                                                            <i class="bi bi-droplet-half fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">98 <small class="opacity-50 h6 fw-normal">%</small>
                                                        </p>
                                                        <p class="opacity-50">O<sub>2</sub> Oxygen</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-danger-subtle text-danger-emphasis rounded mb-3">
                                                            <i class="bi bi-heart-pulse fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">80 <small class="opacity-50 h6 fw-normal">bpm</small>
                                                        </p>
                                                        <p class="opacity-50">HeartBeat</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-warning-subtle text-warning-emphasis rounded mb-3">
                                                            <i class="bi bi-thermometer-half fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">30.7<sup>&deg;</sup> <small class="opacity-50 h6 fw-normal">C</small>
                                                        </p>
                                                        <p class="opacity-50">Temperature</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide width-140">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="avatar avatar-40 bg-info-subtle text-info-emphasis rounded mb-3">
                                                            <i class="bi bi-droplet-half fs-4"></i>
                                                        </div>
                                                        <p class="h4 mb-0">98 <small class="opacity-50 h6 fw-normal">%</small>
                                                        </p>
                                                        <p class="opacity-50">O<sub>2</sub> Oxygen</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="https://swiperjs.com/" target="_blank" class="btn btn-link">Learn more about swiper js</a>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="swiper swipernav mb-3"&gt;
    &lt;div class="swiper-wrapper"&gt;
        &lt;div class="swiper-slide width-140"&gt;
            &lt;div class="card border"&gt;
                &lt;div class="card-body"&gt;
                    &lt;div class="avatar avatar-40 bg-danger-subtle text-danger-emphasis rounded mb-3"&gt;
                        &lt;i class="bi bi-heart-pulse fs-4"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;p class="h4 mb-0"&gt;80 &lt;small class="opacity-50 h6 fw-normal"&gt;bpm&lt;/small&gt;
                    &lt;/p&gt;
                    &lt;p class="opacity-50"&gt;HeartBeat&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide width-140"&gt;
            &lt;div class="card border"&gt;
                &lt;div class="card-body"&gt;
                    &lt;div class="avatar avatar-40 bg-warning-subtle text-warning-emphasis rounded mb-3"&gt;
                        &lt;i class="bi bi-thermometer-half fs-4"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;p class="h4 mb-0"&gt;30.7&lt;sup&gt;&deg;&lt;/sup&gt; &lt;small class="opacity-50 h6 fw-normal"&gt;C&lt;/small&gt;
                    &lt;/p&gt;
                    &lt;p class="opacity-50"&gt;Temperature&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide width-140"&gt;
            &lt;div class="card border"&gt;
                &lt;div class="card-body"&gt;
                    &lt;div class="avatar avatar-40 bg-info-subtle text-info-emphasis rounded mb-3"&gt;
                        &lt;i class="bi bi-droplet-half fs-4"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;p class="h4 mb-0"&gt;98 &lt;small class="opacity-50 h6 fw-normal"&gt;%&lt;/small&gt;
                    &lt;/p&gt;
                    &lt;p class="opacity-50"&gt;O&lt;sub&gt;2&lt;/sub&gt; Oxygen&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;  
    &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
    "use strict";

    $(document).ready(function () {
        swipernav()
    });
&lt;/script&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-smartwizard.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> SmartWizard</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-avatar.html" class="btn btn-theme my-2">Avatar <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>

                    <!-- page level script -->
                    <script src="assets/js/component-carousel.js"></script>
    </body>

</html>