<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Accordion</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Accordion</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard Accordions</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Accordion Item #1
                                                </button>
                                            </div>
                                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Accordion Item #2
                                                </button>
                                            </div>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Accordion Item #3
                                                </button>
                                            </div>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="accordion" id="accordionExample"&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"&gt;
                Accordion Item #1
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"&gt;
                Accordion Item #2
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"&gt;
                Accordion Item #3
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Accordion Clear</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="accordion adminuiux-accordion" id="accordionExample2">
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                                    Accordion Item #1
                                                </button>
                                            </div>
                                            <div id="collapseOne2" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                                    Accordion Item #2
                                                </button>
                                            </div>
                                            <div id="collapseTwo2" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                                    Accordion Item #3
                                                </button>
                                            </div>
                                            <div id="collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="accordion adminuiux-accordion" id="accordionExample2"&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2"&gt;
                Accordion Item #1
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseOne2" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"&gt;
                Accordion Item #2
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseTwo2" class="accordion-collapse collapse" data-bs-parent="#accordionExample2"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3"&gt;
                Accordion Item #3
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionExample2"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Accordion Flush</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-0">
                                    <div class="accordion accordion-flush" id="accordionExample3">
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                    Accordion Item #1
                                                </button>
                                            </div>
                                            <div id="collapseOne4" class="accordion-collapse collapse show" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                                                    Accordion Item #2
                                                </button>
                                            </div>
                                            <div id="collapseTwo5" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                                                    Accordion Item #3
                                                </button>
                                            </div>
                                            <div id="collapseThree6" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse3">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="accordion accordion-flush" id="accordionExample3"&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4"&gt;
                Accordion Item #1
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseOne4" class="accordion-collapse collapse show" data-bs-parent="#accordionExample3"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5"&gt;
                Accordion Item #2
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseTwo5" class="accordion-collapse collapse" data-bs-parent="#accordionExample3"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="accordion-item"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6"&gt;
                Accordion Item #3
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div id="collapseThree6" class="accordion-collapse collapse" data-bs-parent="#accordionExample3"&gt;
            &lt;div class="accordion-body"&gt;
                &lt;p class="text-secondary"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tempor nunc. Duis diam sem, fringilla nec elementum eu, dignissim a enim. Phasellus tincidunt suscipit ipsum, vitae rutrum ligula efficitur ut. Curabitur lobortis, diam ac consectetur facilisis, diam tellus dignissim sapien, eget condimentum metus ante non sapien.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-spinners-loaders.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Spinners Loaders</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-cards.html" class="btn btn-theme my-2">Cards <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>