<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">List Group</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">List Group</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard List Group</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group">
                                                <li class="list-group-item">An item</li>
                                                <li class="list-group-item">A second item</li>
                                                <li class="list-group-item">A third item</li>
                                                <li class="list-group-item">A fourth item</li>
                                                <li class="list-group-item disabled" aria-disabled="true">And a fifth one</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group">
                                                <li class="list-group-item active" aria-current="true">An item</li>
                                                <li class="list-group-item">A second item</li>
                                                <li class="list-group-item">A third item</li>
                                                <li class="list-group-item">A fourth item</li>
                                                <li class="list-group-item">And a fifth one</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">The current link item</a>
                                                <a href="#" class="list-group-item list-group-item-action">A second link item</a><button type="button" class="list-group-item list-group-item-action">A third button item</button>
                                                <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                                                <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">An Flush item list</li>
                                                <li class="list-group-item">A second item</li>
                                                <li class="list-group-item">A third item</li>
                                                <li class="list-group-item">A fourth item</li>
                                                <li class="list-group-item">And a fifth one</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="row"&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item"&gt;An item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A fourth item&lt;/li&gt;
            &lt;li class="list-group-item disabled" aria-disabled="true"&gt;And a fifth one&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item active" aria-current="true"&gt;An item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A fourth item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;And a fifth one&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;div class="list-group"&gt;
            &lt;a href="#" class="list-group-item list-group-item-action active" aria-current="true"&gt;The current link item&lt;/a&gt;
            &lt;a href="#" class="list-group-item list-group-item-action"&gt;A second link item&lt;/a&gt;&lt;button type="button" class="list-group-item list-group-item-action"&gt;A third button item&lt;/button&gt;
            &lt;button type="button" class="list-group-item list-group-item-action"&gt;A fourth button item&lt;/button&gt;
            &lt;a class="list-group-item list-group-item-action disabled" aria-disabled="true"&gt;A disabled link item&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group list-group-flush"&gt;
            &lt;li class="list-group-item"&gt;An Flush item list&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A fourth item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;And a fifth one&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Rich minimal list-group</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group adminuiux-list-group">
                                                <li class="list-group-item">An item</li>
                                                <li class="list-group-item">A second item</li>
                                                <li class="list-group-item">A third item</li>
                                                <li class="list-group-item">A fourth item</li>
                                                <li class="list-group-item disabled" aria-disabled="true">And a fifth one</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group adminuiux-list-group">
                                                <li class="list-group-item active" aria-current="true">An item</li>
                                                <li class="list-group-item">A second item</li>
                                                <li class="list-group-item">A third item</li>
                                                <li class="list-group-item">A fourth item</li>
                                                <li class="list-group-item">And a fifth one</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <div class="list-group adminuiux-list-group">
                                                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">The current link item</a>
                                                <a href="#" class="list-group-item list-group-item-action">A second link item</a><button type="button" class="list-group-item list-group-item-action">A third button item</button>
                                                <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                                                <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="row"&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group adminuiux-list-group"&gt;
            &lt;li class="list-group-item"&gt;An item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A fourth item&lt;/li&gt;
            &lt;li class="list-group-item disabled" aria-disabled="true"&gt;And a fifth one&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group adminuiux-list-group"&gt;
            &lt;li class="list-group-item active" aria-current="true"&gt;An item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A fourth item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;And a fifth one&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;div class="list-group adminuiux-list-group"&gt;
            &lt;a href="#" class="list-group-item list-group-item-action active" aria-current="true"&gt;The current link item&lt;/a&gt;
            &lt;a href="#" class="list-group-item list-group-item-action"&gt;A second link item&lt;/a&gt;&lt;button type="button" class="list-group-item list-group-item-action"&gt;A third button item&lt;/button&gt;
            &lt;button type="button" class="list-group-item list-group-item-action"&gt;A fourth button item&lt;/button&gt;
            &lt;a class="list-group-item list-group-item-action disabled" aria-disabled="true"&gt;A disabled link item&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Numbered List Group</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ol class="list-group list-group-numbered">
                                                <li class="list-group-item">A list item</li>
                                                <li class="list-group-item">A list item</li>
                                                <li class="list-group-item">A list item</li>
                                            </ol>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ol class="list-group list-group-numbered">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge text-bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge text-bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge text-bg-primary rounded-pill">14</span>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    A list item
                                                    <span class="badge text-bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    A second list item
                                                    <span class="badge text-bg-primary rounded-pill">2</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    A third list item
                                                    <span class="badge text-bg-primary rounded-pill">1</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse3">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="row"&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ol class="list-group list-group-numbered"&gt;
            &lt;li class="list-group-item"&gt;A list item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A list item&lt;/li&gt;
            &lt;li class="list-group-item"&gt;A list item&lt;/li&gt;
        &lt;/ol&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ol class="list-group list-group-numbered"&gt;
            &lt;li class="list-group-item d-flex justify-content-between align-items-start"&gt;
                &lt;div class="ms-2 me-auto"&gt;
                    &lt;div class="fw-bold"&gt;Subheading&lt;/div&gt;
                    Content for list item
                &lt;/div&gt;
                &lt;span class="badge text-bg-primary rounded-pill"&gt;14&lt;/span&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item d-flex justify-content-between align-items-start"&gt;
                &lt;div class="ms-2 me-auto"&gt;
                    &lt;div class="fw-bold"&gt;Subheading&lt;/div&gt;
                    Content for list item
                &lt;/div&gt;
                &lt;span class="badge text-bg-primary rounded-pill"&gt;14&lt;/span&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item d-flex justify-content-between align-items-start"&gt;
                &lt;div class="ms-2 me-auto"&gt;
                    &lt;div class="fw-bold"&gt;Subheading&lt;/div&gt;
                    Content for list item
                &lt;/div&gt;
                &lt;span class="badge text-bg-primary rounded-pill"&gt;14&lt;/span&gt;
            &lt;/li&gt;
        &lt;/ol&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item d-flex justify-content-between align-items-center"&gt;
                A list item
                &lt;span class="badge text-bg-primary rounded-pill"&gt;14&lt;/span&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item d-flex justify-content-between align-items-center"&gt;
                A second list item
                &lt;span class="badge text-bg-primary rounded-pill"&gt;2&lt;/span&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item d-flex justify-content-between align-items-center"&gt;
                A third list item
                &lt;span class="badge text-bg-primary rounded-pill"&gt;1&lt;/span&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Colored List Group</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse4">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="list-group"&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;A simple default list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-primary"&gt;A simple primary list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-secondary"&gt;A simple secondary list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-success"&gt;A simple success list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-danger"&gt;A simple danger list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-warning"&gt;A simple warning list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-info"&gt;A simple info list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-light"&gt;A simple light list group item&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action list-group-item-dark"&gt;A simple dark list group item&lt;/a&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Radio and Checkbox List Group</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                                                    <label class="form-check-label stretched-link" for="firstCheckbox">First checkbox</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                                                    <label class="form-check-label stretched-link" for="secondCheckbox">Second checkbox</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                                    <label class="form-check-label stretched-link" for="thirdCheckbox">Third checkbox</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                                                    <label class="form-check-label stretched-link" for="firstRadio">First radio</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
                                                    <label class="form-check-label stretched-link" for="secondRadio">Second radio</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
                                                    <label class="form-check-label stretched-link" for="thirdRadio">Third radio</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                            <ul class="list-group adminuiux-list-group">
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio2" checked>
                                                    <label class="form-check-label stretched-link" for="firstRadio2">First radio</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio2">
                                                    <label class="form-check-label stretched-link" for="secondRadio2">Second radio</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio2">
                                                    <label class="form-check-label stretched-link" for="thirdRadio2">Third radio</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse5">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="row"&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox"&gt;
                &lt;label class="form-check-label stretched-link" for="firstCheckbox"&gt;First checkbox&lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox"&gt;
                &lt;label class="form-check-label stretched-link" for="secondCheckbox"&gt;Second checkbox&lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox"&gt;
                &lt;label class="form-check-label stretched-link" for="thirdCheckbox"&gt;Third checkbox&lt;/label&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked&gt;
                &lt;label class="form-check-label stretched-link" for="firstRadio"&gt;First radio&lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio"&gt;
                &lt;label class="form-check-label stretched-link" for="secondRadio"&gt;Second radio&lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio"&gt;
                &lt;label class="form-check-label stretched-link" for="thirdRadio"&gt;Third radio&lt;/label&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="col-12 col-md-6 col-lg-4 col-xl-3"&gt;
        &lt;ul class="list-group adminuiux-list-group"&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio2" checked&gt;
                &lt;label class="form-check-label stretched-link" for="firstRadio2"&gt;First radio&lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio2"&gt;
                &lt;label class="form-check-label stretched-link" for="secondRadio2"&gt;Second radio&lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="list-group-item"&gt;
                &lt;input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio2"&gt;
                &lt;label class="form-check-label stretched-link" for="thirdRadio2"&gt;Third radio&lt;/label&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-collapse.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Collapse</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-modal-dialogues.html" class="btn btn-theme my-2">Modal Dialog <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>