<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Sliders</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Sliders</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard Sliders</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="customRange2" class="form-label text-secondary">Range with Min 0 and Max 5</label>
                                        <input type="range" class="form-range" min="0" max="5" id="customRange2">
                                    </div>
                                    <label for="customRange3" class="form-label text-secondary">Range with Min 0, Max 5 and steps 0.5</label>
                                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">

                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="mb-3"&gt;
    &lt;label for="customRange2" class="form-label text-secondary"&gt;Range with Min 0 and Max 5&lt;/label&gt;
    &lt;input type="range" class="form-range" min="0" max="5" id="customRange2"&gt;
&lt;/div&gt;
&lt;label for="customRange3" class="form-label text-secondary"&gt;Range with Min 0, Max 5 and steps 0.5&lt;/label&gt;
&lt;input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3"&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Customized Range</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- range 1 -->
                                    <div class="range mb-4">
                                        <input type="range" id="range11" class="range1">
                                    </div>

                                    <!--  range 2  -->
                                    <div class="range mb-4">
                                        <div class="row">
                                            <div class="col"><input type="range" min="0" max="50" value="0" id="range2" class="range-input range2"></div>
                                            <div class="col-auto">
                                                <div class="value2">0</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  range 3  -->
                                    <div class="range mb-4">
                                        <div class="row">
                                            <div class="col"><input type="range" min="0" max="100" value="0" id="range3" class="range3"></div>
                                            <div class="col-auto">
                                                <div class="value3">0</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  range 4  -->
                                    <div class="range mb-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="range-slider">
                                                    <label for="range4" class="text-secondary">Select Temperature:</label><br>
                                                    <input type="range" min="0" max="100" value="0" class="range-input range4" id="range4" step="25">
                                                    <div class="sliderticks">
                                                        <span>0</span>
                                                        <span>25</span>
                                                        <span>50</span>
                                                        <span>75</span>
                                                        <span>100</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="value4">0</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;!-- range 1 --&gt;
&lt;div class="range mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" /&gt;
&lt;/div&gt;

&lt;!--  range 2  --&gt;
&lt;div class="range mb-4"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;&lt;input type="range" min="0" max="50" value="0" id="range2" class="range-input range2" /&gt;&lt;/div&gt;
        &lt;div class="col-auto"&gt;
            &lt;div class="value2"&gt;0&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!--  range 3  --&gt;
&lt;div class="range mb-4"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;&lt;input type="range" min="0" max="100" value="0" id="range3" class="range3" /&gt;&lt;/div&gt;
        &lt;div class="col-auto"&gt;
            &lt;div class="value3"&gt;0&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!--  range 4  --&gt;
&lt;div class="range mb-4"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;
            &lt;div class="range-slider"&gt;
                &lt;label for="range" class="text-secondary"&gt;Select Temperature:&lt;/label&gt;&lt;br /&gt;
                &lt;input type="range" min="0" max="100" value="0" class="range-input range4" id="range4" step="25" /&gt;
                &lt;div class="sliderticks"&gt;
                    &lt;span&gt;0&lt;/span&gt;
                    &lt;span&gt;25&lt;/span&gt;
                    &lt;span&gt;50&lt;/span&gt;
                    &lt;span&gt;75&lt;/span&gt;
                    &lt;span&gt;100&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-auto"&gt;
            &lt;div class="value4"&gt;0&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
&lt;!-- these functions are already in function js --&gt;
	/* range sliders  */
	range2();
	range3();
	range4();
&lt;/script&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Range Colors</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- range 1 -->
                                    <div class="range theme-red mb-4">
                                        <input type="range" id="range12" class="range1" value="10">
                                    </div>
                                    <div class="range theme-purple mb-4">
                                        <input type="range" id="range13" class="range1" value="20">
                                    </div>
                                    <div class="range theme-indigo mb-4">
                                        <input type="range" id="range14" class="range1" value="30">
                                    </div>
                                    <div class="range theme-green mb-4">
                                        <input type="range" id="range15" class="range1" value="40">
                                    </div>
                                    <div class="range theme-yellow mb-4">
                                        <input type="range" id="range16" class="range1" value="50">
                                    </div>
                                    <div class="range theme-orange mb-4">
                                        <input type="range" id="range17" class="range1" value="60">
                                    </div>
                                    <div class="range theme-pink mb-4">
                                        <input type="range" id="range18" class="range1" value="70">
                                    </div>
                                    <div class="range theme-brown mb-4">
                                        <input type="range" id="range19" class="range1" value="80">
                                    </div>
                                    <div class="range theme-grey mb-4">
                                        <input type="range" id="range111" class="range1" value="90">
                                    </div>
                                    <div class="range theme-black mb-4">
                                        <input type="range" id="range112" class="range1" value="100">
                                    </div>
                                </div>
                                <div class="collapse" id="collapse3">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="range theme-red mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="10" /&gt;
&lt;/div&gt;
&lt;div class="range theme-purple mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="20" /&gt;
&lt;/div&gt;
&lt;div class="range theme-indigo mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="30" /&gt;
&lt;/div&gt;
&lt;div class="range theme-green mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="40" /&gt;
&lt;/div&gt;
&lt;div class="range theme-yellow mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="50" /&gt;
&lt;/div&gt;
&lt;div class="range theme-orange mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="60" /&gt;
&lt;/div&gt;
&lt;div class="range theme-pink mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="70" /&gt;
&lt;/div&gt;
&lt;div class="range theme-brown mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="80" /&gt;
&lt;/div&gt;
&lt;div class="range theme-grey mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="90" /&gt;
&lt;/div&gt;
&lt;div class="range theme-black mb-4"&gt;
    &lt;input type="range" id="range1" class="range1" value="100" /&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-switches.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Switches</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-inputs.html" class="btn btn-theme my-2">Inputs <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>

                    <!-- page level script -->
                    <script src="assets/js/component-rangeslider.js"></script>
    </body>

</html>