<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Tables</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Tables</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard table</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-secondary">Normal Table</p>
                                    <div class="table-responsive mb-4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">First</th>
                                                    <th scope="col">Last</th>
                                                    <th scope="col">Handle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Max</td>
                                                    <td>Johnson</td>
                                                    <td>@maxjohson</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>AdminUIUX</td>
                                                    <td>Templates</td>
                                                    <td>@adminuiux</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td colspan="2">Larry the Bird</td>
                                                    <td>@twitter</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="text-secondary">Striped Table</p>
                                    <div class="table-responsive mb-4">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">First</th>
                                                    <th scope="col">Last</th>
                                                    <th scope="col">Handle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Max</td>
                                                    <td>Johnson</td>
                                                    <td>@maxjohson</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>AdminUIUX</td>
                                                    <td>Templates</td>
                                                    <td>@adminuiux</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td colspan="2">Larry the Bird</td>
                                                    <td>@twitter</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;p class="text-secondary"&gt;Normal Table&lt;/p&gt;
&lt;div class="table-responsive mb-4"&gt;
    &lt;table class="table"&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th scope="col"&gt;#&lt;/th&gt;
                &lt;th scope="col"&gt;First&lt;/th&gt;
                &lt;th scope="col"&gt;Last&lt;/th&gt;
                &lt;th scope="col"&gt;Handle&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;1&lt;/th&gt;
                &lt;td&gt;Max&lt;/td&gt;
                &lt;td&gt;Johnson&lt;/td&gt;
                &lt;td&gt;@maxjohson&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;2&lt;/th&gt;
                &lt;td&gt;AdminUIUX&lt;/td&gt;
                &lt;td&gt;Templates&lt;/td&gt;
                &lt;td&gt;@adminuiux&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;3&lt;/th&gt;
                &lt;td colspan="2"&gt;Larry the Bird&lt;/td&gt;
                &lt;td&gt;@twitter&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
&lt;p class="text-secondary"&gt;Striped Table&lt;/p&gt;
&lt;div class="table-responsive mb-4"&gt;
    &lt;table class="table table-striped"&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th scope="col"&gt;#&lt;/th&gt;
                &lt;th scope="col"&gt;First&lt;/th&gt;
                &lt;th scope="col"&gt;Last&lt;/th&gt;
                &lt;th scope="col"&gt;Handle&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;1&lt;/th&gt;
                &lt;td&gt;Max&lt;/td&gt;
                &lt;td&gt;Johnson&lt;/td&gt;
                &lt;td&gt;@maxjohson&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;2&lt;/th&gt;
                &lt;td&gt;AdminUIUX&lt;/td&gt;
                &lt;td&gt;Templates&lt;/td&gt;
                &lt;td&gt;@adminuiux&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;3&lt;/th&gt;
                &lt;td colspan="2"&gt;Larry the Bird&lt;/td&gt;
                &lt;td&gt;@twitter&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Table Bordered</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-secondary">Bordered Table</p>
                                    <div class="table-responsive mb-4">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">First</th>
                                                    <th scope="col">Last</th>
                                                    <th scope="col">Handle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Max</td>
                                                    <td>Johnson</td>
                                                    <td>@maxjohson</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>AdminUIUX</td>
                                                    <td>Templates</td>
                                                    <td>@adminuiux</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td colspan="2">Larry the Bird</td>
                                                    <td>@twitter</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="text-secondary">Primary Bordered Table</p>
                                    <div class="table-responsive">
                                        <table class="table table-bordered border-primary">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">First</th>
                                                    <th scope="col">Last</th>
                                                    <th scope="col">Handle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Max</td>
                                                    <td>Johnson</td>
                                                    <td>@maxjohson</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>AdminUIUX</td>
                                                    <td>Templates</td>
                                                    <td>@adminuiux</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td colspan="2">Larry the Bird</td>
                                                    <td>@twitter</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;p class="text-secondary"&gt;Bordered Table&lt;/p&gt;
&lt;div class="table-responsive mb-4"&gt;
    &lt;table class="table table-bordered"&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th scope="col"&gt;#&lt;/th&gt;
                &lt;th scope="col"&gt;First&lt;/th&gt;
                &lt;th scope="col"&gt;Last&lt;/th&gt;
                &lt;th scope="col"&gt;Handle&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;1&lt;/th&gt;
                &lt;td&gt;Max&lt;/td&gt;
                &lt;td&gt;Johnson&lt;/td&gt;
                &lt;td&gt;@maxjohson&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;2&lt;/th&gt;
                &lt;td&gt;AdminUIUX&lt;/td&gt;
                &lt;td&gt;Templates&lt;/td&gt;
                &lt;td&gt;@adminuiux&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;3&lt;/th&gt;
                &lt;td colspan="2"&gt;Larry the Bird&lt;/td&gt;
                &lt;td&gt;@twitter&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;

&lt;p class="text-secondary"&gt;Primary Bordered Table&lt;/p&gt;
&lt;div class="table-responsive"&gt;
    &lt;table class="table table-bordered border-primary"&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th scope="col"&gt;#&lt;/th&gt;
                &lt;th scope="col"&gt;First&lt;/th&gt;
                &lt;th scope="col"&gt;Last&lt;/th&gt;
                &lt;th scope="col"&gt;Handle&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;1&lt;/th&gt;
                &lt;td&gt;Max&lt;/td&gt;
                &lt;td&gt;Johnson&lt;/td&gt;
                &lt;td&gt;@maxjohson&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;2&lt;/th&gt;
                &lt;td&gt;AdminUIUX&lt;/td&gt;
                &lt;td&gt;Templates&lt;/td&gt;
                &lt;td&gt;@adminuiux&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;th scope="row"&gt;3&lt;/th&gt;
                &lt;td colspan="2"&gt;Larry the Bird&lt;/td&gt;
                &lt;td&gt;@twitter&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-off-canvas.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Off-Canvas</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-header.html" class="btn btn-theme my-2">Headers <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>