<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Tooltips</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Tooltips</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard Tooltips</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>Placeholder text to demonstrate some <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip">inline links</a> with tooltips. This is now just filler, no killer. Content placed here just to mimic the presence of <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip">real text</a>. And all that just to give you an idea of how tooltips would look when used in real-world situations. So hopefully you've now seen how <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too">these tooltips on links</a> can work in practice, once you use them on <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!">your own</a> site or project.</p>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;p&gt;Placeholder text to demonstrate some &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"&gt;inline links&lt;/a&gt; with tooltips. This is now just filler, no killer. Content placed here just to mimic the presence of &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"&gt;real text&lt;/a&gt;. And all that just to give you an idea of how tooltips would look when used in real-world situations. So hopefully you've now seen how &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"&gt;these tooltips on links&lt;/a&gt; can work in practice, once you use them on &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"&gt;your own&lt;/a&gt; site or project.&lt;/p&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Tooltips Position</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                        Tooltip on top
                                    </button>
                                    <button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
                                        Tooltip on right
                                    </button>
                                    <button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
                                        Tooltip on bottom
                                    </button>
                                    <button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left">
                                        Tooltip on left
                                    </button>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top"&gt;
    Tooltip on top
&lt;/button&gt;
&lt;button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right"&gt;
    Tooltip on right
&lt;/button&gt;
&lt;button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"&gt;
    Tooltip on bottom
&lt;/button&gt;
&lt;button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left"&gt;
    Tooltip on left
&lt;/button&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Colored Tooltip</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This top tooltip default color.">
                                        Default
                                    </button>
                                    <button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-theme-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Theme
                                    </button>
                                    <button type="button" class="btn btn-accent" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-accent-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Accent
                                    </button>
                                    <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-success-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Success
                                    </button>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-warning-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Warning
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-danger-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Danger
                                    </button>
                                    <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-info-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Info
                                    </button>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="adminuiux-primary-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Primary
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="adminuiux-secondary-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Secondary
                                    </button>
                                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="adminuiux-light-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
                                        Light
                                    </button>
                                </div>
                                <div class="collapse" id="collapse3">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This top tooltip default color."&gt;
    Default
&lt;/button&gt;
&lt;button type="button" class="btn btn-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-theme-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Theme
&lt;/button&gt;
&lt;button type="button" class="btn btn-accent" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-accent-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Accent
&lt;/button&gt;
&lt;button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-success-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Success
&lt;/button&gt;
&lt;button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-warning-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Warning
&lt;/button&gt;
&lt;button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-danger-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Danger
&lt;/button&gt;
&lt;button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="adminuiux-info-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Info
&lt;/button&gt;
&lt;button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="adminuiux-primary-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Primary
&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="adminuiux-secondary-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Secondary
&lt;/button&gt;
&lt;button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="adminuiux-light-tooltip" data-bs-title="This top tooltip is themed via CSS variables."&gt;
    Light
&lt;/button&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-toasts.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Toasts</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-spinners-loaders.html" class="btn btn-theme my-2">Spinners and Loaders <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>