<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Floating Labels</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Floating Labels</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard Floating labels</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                        <label for="floatingTextarea">Comments</label>
                                    </div>
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="floatingSelect">Works with selects</label>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="form-floating mb-3"&gt;
    &lt;input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"&gt;
    &lt;label for="floatingInput"&gt;Email address&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating"&gt;
    &lt;input type="password" class="form-control" id="floatingPassword" placeholder="Password"&gt;
    &lt;label for="floatingPassword"&gt;Password&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating"&gt;
    &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"&gt;&lt;/textarea&gt;
    &lt;label for="floatingTextarea"&gt;Comments&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating"&gt;
    &lt;select class="form-select" id="floatingSelect" aria-label="Floating label select example"&gt;
        &lt;option selected&gt;Open this select menu&lt;/option&gt;
        &lt;option value="1"&gt;One&lt;/option&gt;
        &lt;option value="2"&gt;Two&lt;/option&gt;
        &lt;option value="3"&gt;Three&lt;/option&gt;
    &lt;/select&gt;
    &lt;label for="floatingSelect"&gt;Works with selects&lt;/label&gt;
&lt;/div&gt;
</code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Floating label with value</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="form-floating">
                                        <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
                                        <label for="floatingInputValue">Input with value</label>
                                    </form>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;form class="form-floating"&gt;
    &lt;input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com"&gt;
    &lt;label for="floatingInputValue"&gt;Input with value&lt;/label&gt;
&lt;/form&gt;
</code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Disabled</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                                        <label for="floatingInputDisabled">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled" disabled></textarea>
                                        <label for="floatingTextareaDisabled">Comments</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled>Disabled textarea with some text inside</textarea>
                                        <label for="floatingTextarea2Disabled">Comments</label>
                                    </div>
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectDisabled" aria-label="Floating label disabled select example" disabled>
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="floatingSelectDisabled">Works with selects</label>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse3">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="form-floating mb-3"&gt;
    &lt;input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled&gt;
    &lt;label for="floatingInputDisabled"&gt;Email address&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating mb-3"&gt;
    &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled" disabled&gt;&lt;/textarea&gt;
    &lt;label for="floatingTextareaDisabled"&gt;Comments&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating mb-3"&gt;
    &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled&gt;Disabled textarea with some text inside&lt;/textarea&gt;
    &lt;label for="floatingTextarea2Disabled"&gt;Comments&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating"&gt;
    &lt;select class="form-select" id="floatingSelectDisabled" aria-label="Floating label disabled select example" disabled&gt;
        &lt;option selected&gt;Open this select menu&lt;/option&gt;
        &lt;option value="1"&gt;One&lt;/option&gt;
        &lt;option value="2"&gt;Two&lt;/option&gt;
        &lt;option value="3"&gt;Three&lt;/option&gt;
    &lt;/select&gt;
    &lt;label for="floatingSelectDisabled"&gt;Works with selects&lt;/label&gt;
&lt;/div&gt;
</code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Read only</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-floating mb-3">
                                        <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="name@example.com">
                                        <label for="floatingEmptyPlaintextInput">Empty input</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="name@example.com">
                                        <label for="floatingPlaintextInput">Input with value</label>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse4">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="form-floating mb-3"&gt;
    &lt;input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="name@example.com"&gt;
    &lt;label for="floatingEmptyPlaintextInput"&gt;Empty input&lt;/label&gt;
&lt;/div&gt;

&lt;div class="form-floating mb-3"&gt;
    &lt;input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="name@example.com"&gt;
    &lt;label for="floatingPlaintextInput"&gt;Input with value&lt;/label&gt;
&lt;/div&gt;
</code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Input groups</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="input-group">
                                        <span class="input-group-text">@</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
                                            <label for="floatingInputGroup1">Username</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse5">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;div class="input-group"&gt;
    &lt;span class="input-group-text"&gt;@&lt;/span&gt;
    &lt;div class="form-floating"&gt;
        &lt;input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"&gt;
        &lt;label for="floatingInputGroup1"&gt;Username&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-input-groups.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Input groups</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-validation.html" class="btn btn-theme my-2">Validation <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>