<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Off Canvas</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Off Canvas</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard Off-Canvas</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>canvas positioned at left/start with class <code>offcanvas-start</code> accessible with link and button both. You can stop closing offcanvas on click of backdrop by using static backdrop (<code>data-bs-backdrop="static"</code>) on offcanvas div attribute.</p>
                                    <a class="btn btn-theme" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                        Link with href
                                    </a>
                                    <button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                                        Button with data-bs-target
                                    </button>

                                    <!-- off canvas live offcanvas-start -->
                                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                                        <div class="offcanvas-header">
                                            <p class="h5 offcanvas-title" id="offcanvasExampleLabel">Offcanvas</p>
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            <div>
                                                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                                            </div>
                                            <div class="dropdown mt-3">
                                                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                                    Dropdown button
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;a class="btn btn-theme" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"&gt;
    Link with href
&lt;/a&gt;
&lt;button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"&gt;
    Button with data-bs-target
&lt;/button&gt;

&lt;!-- off canvas live offcanvas-start --&gt;
&lt;div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"&gt;
    &lt;div class="offcanvas-header"&gt;
        &lt;p class="h5 offcanvas-title" id="offcanvasExampleLabel"&gt;Offcanvas&lt;/p&gt;
        &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="offcanvas-body"&gt;
        &lt;div&gt;
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        &lt;/div&gt;
        &lt;div class="dropdown mt-3"&gt;
            &lt;button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"&gt;
                Dropdown button
            &lt;/button&gt;
            &lt;ul class="dropdown-menu"&gt;
                &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Off-Canvas Positions</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-secondary"><code>.offcanvas-start</code> places offcanvas on the left of the viewport (shown above),<br>
                                        <code>.offcanvas-end</code> places offcanvas on the right of the viewport,<br>
                                        <code>.offcanvas-top</code> places offcanvas on the top of the viewport,<br>
                                        <code>.offcanvas-bottom </code>places offcanvas on the bottom of the viewport
                                    </p>
                                    <p>canvas positioned at end/right with class <code>offcanvas-end</code> also with this demo body content remain accessible.</p>
                                    <button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

                                    <!-- off canvas live offcanvas-end -->
                                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                        <div class="offcanvas-header">
                                            <p class="offcanvas-title h5" id="offcanvasScrollingLabel">Offcanvas with body scrolling</p>
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            <p>Try scrolling the rest of the page to see this option in action.</p>
                                        </div>
                                    </div>
                                    <br><br>
                                    <p>canvas positioned at top with class <code>offcanvas offcanvas-top</code>.</p>
                                    <button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button>

                                    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                                        <div class="offcanvas-header">
                                            <p class="offcanvas-title h5" id="offcanvasTopLabel">Offcanvas top</p>
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            ...
                                        </div>
                                    </div>
                                    <br><br>
                                    <p>canvas positioned at bottom with class <code>offcanvas offcanvas-bottom</code>.</p>
                                    <button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle Bottom offcanvas</button>

                                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                                        <div class="offcanvas-header">
                                            <p class="offcanvas-title h5" id="offcanvasBottomLabel">Offcanvas Bottom</p>
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            ...
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"&gt;Enable body scrolling&lt;/button&gt;
&lt;!-- off canvas live offcanvas-end --&gt;
&lt;div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"&gt;
    &lt;div class="offcanvas-header"&gt;
        &lt;p class="offcanvas-title h5" id="offcanvasScrollingLabel"&gt;Offcanvas with body scrolling&lt;/p&gt;
        &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="offcanvas-body"&gt;
        &lt;p&gt;Try scrolling the rest of the page to see this option in action.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"&gt;Toggle top offcanvas&lt;/button&gt;
 &lt;!-- off canvas live offcanvas-top --&gt;
 &lt;div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"&gt;
    &lt;div class="offcanvas-header"&gt;
        &lt;p class="offcanvas-title h5" id="offcanvasTopLabel"&gt;Offcanvas top&lt;/p&gt;
        &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="offcanvas-body"&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;

 &lt;!-- off canvas live offcanvas-bottom --&gt;
&lt;button class="btn btn-theme" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"&gt;Toggle Bottom offcanvas&lt;/button&gt;
&lt;div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel"&gt;
    &lt;div class="offcanvas-header"&gt;
        &lt;p class="offcanvas-title h5" id="offcanvasBottomLabel"&gt;Offcanvas Bottom&lt;/p&gt;
        &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="offcanvas-body"&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-modal-dialogues.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Modal Dialog</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-tables.html" class="btn btn-theme my-2">Table <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>