<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Hights & Widths</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Hights & Widths</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Height in pixels</p>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-10 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-10</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-20 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-20</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-30 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-30</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-40 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-40</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-50 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-50</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-60 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-60</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-70 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-70</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-80 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-80</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-90 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-90</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-100 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-100</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-110 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-110</p>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xxl-1 mb-3">
                                            <div class="card bg-theme-1 height-120 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.height-120</p>
                                        </div>
                                    </div>
                                    <p class="text-secondary">This can be up to 300</p>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Width in pixels</p>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-10 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-10</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-20 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-20</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-30 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-30</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-40 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-40</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-50 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-50</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-60 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-60</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-70 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-70</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-80 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-80</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-90 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-90</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-100 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-100</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-110 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-110</p>
                                        </div>
                                        <div class="col-auto mb-3">
                                            <div class="card bg-theme-1 width-120 mb-2">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                            <p class="text-secondary small text-center">.width-120</p>
                                        </div>
                                    </div>
                                    <p class="text-secondary">This can be up to 300</p>
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-colors.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Colors</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-margin-padding.html" class="btn btn-theme my-2">Margin Padding <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>