<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-3">
                            <div class="bg-theme-1-subtle rounded px-3 py-3">
                                <div class="row gx-3 align-items-center">
                                    <div class="col col-sm mb-2 mb-sm-0">
                                        <p class="h5">Colors</p>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0">
                                                <li class="breadcrumb-item bi"><a href="investment-dashboard.html">App Demo</a></li>
                                                <li class="breadcrumb-item bi"><a href="components.html">Components</a></li>
                                                <li class="breadcrumb-item active bi" aria-current="page">Colors</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4">
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Standard Flat Colors</p>
                                        </div>
                                        <div class="col-auto">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-1 text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-theme-1</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-1 text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-theme-accent-1</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-success text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-success</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-info text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-info</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-warning text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-warning</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-danger text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-danger</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card text-center bg-light text-dark mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-light</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-dark text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-dark</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-orange text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-orange</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-purple text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-purple</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-teal text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-teal</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-brown text-white mb-3">
                                                <div class="card-body">
                                                    <p class="small">.bg-brown</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Gradient Colors</p>
                                        </div>
                                        <div class="col-auto">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient-light text-dark mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient-light</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-r-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12"></div>
                                        <div class="col-12">
                                            <button class="btn btn-theme mb-2">.btn-theme</button>
                                            <button class="btn btn-accent mb-2">.btn-accent</button>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-1</span>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-2</span>
                                            <span class="mx-2 mb-2 text-theme-accent-1">text-theme-accent-1</span>
                                            <span class="mx-2 mb-2 text-theme-accent-2">text-theme-accent-2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Gradient Colors</p>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-1 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-1</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-2 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-2</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-3 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-3</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-4 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-4</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-5 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-5</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-6 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-6</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-7 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-7</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-8 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-8</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-9 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-9</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-gradient-10 mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-gradient-10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card adminuiux-card mb-4">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="h6">Change colors with themes</p>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-outline-theme btn-square" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
                                                <i class="bi bi-code-slash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-footer border-top">
                                        <div class="bg-dark text-white p-2 rounded my-2">
                                            <pre class="mb-2"><code class="code rounded language-html">
&lt;p&gt;theme-red&lt;/p&gt;

/* theme-red or any other theme class on any parent will followed by element with theme colors */
&lt;div class="row theme-red mb-3"&gt;
    &lt;div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"&gt;
        &lt;div class="card adminuiux-card text-center bg-r-gradient mb-3 height-100"&gt;
            &lt;div class="card-body align-items-center d-flex justify-content-center"&gt;
                &lt;p class="small"&gt;.bg-r-gradient&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"&gt;
        &lt;div class="card adminuiux-card text-center bg-theme-l-gradient text-white mb-3 height-100"&gt;
            &lt;div class="card-body align-items-center d-flex justify-content-center"&gt;
                &lt;p class="small"&gt;.bg-theme-l-gradient&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"&gt;
        &lt;div class="card adminuiux-card text-center bg-theme-l-gradient-light mb-3 height-100"&gt;
            &lt;div class="card-body align-items-center d-flex justify-content-center"&gt;
                &lt;p class="small"&gt;.bg-theme-l-gradient-light&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"&gt;
        &lt;div class="card adminuiux-card text-center bg-theme-r-gradient text-white mb-3 height-100"&gt;
            &lt;div class="card-body align-items-center d-flex justify-content-center"&gt;
                &lt;p class="small"&gt;.bg-theme-r-gradient&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"&gt;
        &lt;div class="card adminuiux-card text-center bg-theme-accent-l-gradient text-white mb-3 height-100"&gt;
            &lt;div class="card-body align-items-center d-flex justify-content-center"&gt;
                &lt;p class="small"&gt;.bg-theme-accent-l-gradient&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"&gt;
        &lt;div class="card adminuiux-card text-center bg-theme-accent-r-gradient mb-3 height-100"&gt;
            &lt;div class="card-body align-items-center d-flex justify-content-center"&gt;
                &lt;p class="small"&gt;.bg-theme-accent-r-gradient&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="col-12"&gt;&lt;/div&gt;

    &lt;div class="col-12"&gt;
        &lt;button class="btn btn-theme mb-2"&gt;.btn-theme&lt;/button&gt;
        &lt;button class="btn btn-accent mb-2"&gt;.btn-accent&lt;/button&gt;
        &lt;span class="mx-2 mb-2 text-theme-1"&gt;text-theme-1&lt;/span&gt;
        &lt;span class="mx-2 mb-2 text-theme-1"&gt;text-theme-2&lt;/span&gt;
        &lt;span class="mx-2 mb-2 text-theme-accent-1"&gt;text-theme-accent-1&lt;/span&gt;
        &lt;span class="mx-2 mb-2 text-theme-accent-2"&gt;text-theme-accent-2&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                                            <button type="button" class="btn btn-outline-light  btn-square copycode"><i class="bi bi-clipboard"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>theme-red</p>
                                    <p class="text-secondary">theme-red or any other theme class on any parent will followed by element with theme colors</p>
                                    <div class="row theme-red mb-3">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient-light mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient-light</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-r-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12"></div>
                                        <div class="col-12">
                                            <button class="btn btn-theme mb-2">.btn-theme</button>
                                            <button class="btn btn-accent mb-2">.btn-accent</button>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-1</span>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-2</span>
                                            <span class="mx-2 mb-2 text-theme-accent-1">text-theme-accent-1</span>
                                            <span class="mx-2 mb-2 text-theme-accent-2">text-theme-accent-2</span>
                                        </div>
                                    </div>
                                    <p>theme-orange</p>
                                    <div class="row theme-orange mb-3">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient-light mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient-light</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-r-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12"></div>
                                        <div class="col-12">
                                            <button class="btn btn-theme mb-2">.btn-theme</button>
                                            <button class="btn btn-accent mb-2">.btn-accent</button>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-1</span>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-2</span>
                                            <span class="mx-2 mb-2 text-theme-accent-1">text-theme-accent-1</span>
                                            <span class="mx-2 mb-2 text-theme-accent-2">text-theme-accent-2</span>
                                        </div>
                                    </div>
                                    <p>theme-green</p>
                                    <div class="row theme-green mb-3">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-l-gradient-light mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-l-gradient-light</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-r-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-l-gradient text-white mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-l-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                            <div class="card adminuiux-card text-center bg-theme-accent-r-gradient mb-3 height-100">
                                                <div class="card-body align-items-center d-flex justify-content-center">
                                                    <p class="small">.bg-theme-accent-r-gradient</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12"></div>
                                        <div class="col-12">
                                            <button class="btn btn-theme mb-2">.btn-theme</button>
                                            <button class="btn btn-accent mb-2">.btn-accent</button>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-1</span>
                                            <span class="mx-2 mb-2 text-theme-1">text-theme-2</span>
                                            <span class="mx-2 mb-2 text-theme-accent-1">text-theme-accent-1</span>
                                            <span class="mx-2 mb-2 text-theme-accent-2">text-theme-accent-2</span>
                                        </div>
                                    </div>
                                    and more theme checkout at demo <b>personalization</b> ❤️...
                                </div>
                            </div>

                            <!-- component footer -->
                            <div class="bg-theme-1-subtle rounded px-3 py-2 mb-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="component-avatar.html" class="btn btn-accent me-3 my-2"><i class="bi bi-arrow-left mr-2"></i> Avatar</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="component-heights-widths.html" class="btn btn-theme my-2">Height and Width <i class="bi bi-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>