<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->

<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac main-bg-blur">
        <%= require('../partials/pageloader/clinic-pageloader.html').default %>
            <%= require('../partials/header/index-header.html').default %>

                <div class="adminuiux-wrap">
                    <main class="adminuiux-content" onclick="contentClick()">

                        <!-- Content  -->
                        <div>
                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                                        <div class="position-sticky" style="top: 5.8rem;">
                                            <div id="list-example" class="list-group adminuiux-list-group bg-none">
                                                <a class="list-group-item list-group-item-action" href="#list-item-1">Welcome</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-2">Getting Started</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-3">Project Structure</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-4">Run Project</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-5">Customization</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-6">Special Thanks</a>
                                                <a class="list-group-item list-group-item-action" href="#list-item-7">Support</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-9  col-lg-10">
                                        <div class="row" id="list-item-1">
                                            <div class="col-12">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h1 text-theme-1">Welcome!</p>
                                                        <p class="h4 mb-4">We are happy to see you here!</p>
                                                        <p class="text-secondary">Thank you for purchasing our template and becoming a valued customer of our template from AdminUIUX. We really appreciate your support!</p>
                                                        <p class="text-secondary">Our template is a creative and multipurpose solution. It can be used for a variety of applications including Booking Apps, CRMs, Business Applications, Intranet Applications, Portal Services, and much more. With unlimited possibilities and over 12+ predefined styles that you can mix and match, you can easily create new and unique designs.</p>
                                                        <p class="text-secondary">Please support us by spreading the word!</p>
                                                        <p class="text-secondary">Built with Bootstrap version 5.3.3, this template uses HTML, CSS, and JavaScript frameworks. We offer a wide range of customized, unique, creative, and flexible components. Our component library is continually growing with new widgets and third-party customizations. Additionally, we aim to provide different demo pages to help our customers get ready-to-use HTML code that meets their requirements.</p>

                                                        <div class="alert alert-info mb-3">We recommend to have basic knowledge of HTML structure so that your structure remain robust and responsive. If mistakenly break structure, layout preview will be broken.</div>

                                                        <p class="text-secondary">Our template is built with <code>npm</code> libraries and <code>webpack</code> development and are completely few step required to run project.
                                                            You should follow few step and you will have preview easily.</p>
                                                        <p class="text-secondary">Here are some major library and resource used to develop our template:</p>
                                                        <ul class="list ms-2 text-secondary">
                                                            <li>node.js</li>
                                                            <li>Webpack 5.x</li>
                                                            <li>sass</li>
                                                            <li>bootstrap 5.3.x</li>
                                                            <li>html-loader</li>
                                                            <li>jquery</li>
                                                            <li>moment</li>
                                                            <li>chartjs</li>
                                                            <li>full calendar</li>
                                                            <li>daterangepicker</li>
                                                            <li>100+ pages for core demo and components...</li>
                                                        </ul>
                                                        <p class="text-secondary">As a customer, you are entitled to free future updates and support from us.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-5" id="list-item-2">
                                            <div class="col-12 pt-5">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h4 text-theme-1">Get Started,</p>
                                                        <p class="h5 mb-4">We are here to support,</p>
                                                        <p class="text-secondary">If you encounter any difficulties while editing this template or have any questions, please don't hesitate to reach out to us through our support page. We are here to help!</p>
                                                        <p class="text-secondary">The guidelines provided here explain the basic structure and framework of the template. We've outlined all unique criteria to make understanding easy. For third-party components, we recommend visiting their official documentation for complete guidelines. Visual Studio Code was used as the editor for this documentation and code writing.</p>
                                                        <p class="h5">Required things:</p>
                                                        <ol class=" text-secondary">
                                                            <li>A good code editor of your choice (we recommend VS Code)</li>
                                                            <li>A latest good web browser</li>
                                                            <li><code>node.js</code> installed on your machine (we developed with v20.11)</li>
                                                            <li>Intermediate <code>html</code> knowledge</li>
                                                            <li>Intermediate <code>scss</code> knowledge</li>
                                                            <li>Intermediate <code>javascript</code> and <code>jQuery</code> knowledge</li>
                                                        </ol>
                                                        <p class="text-secondary"><b>Important:</b> Please read the documentation thoroughly before customizing this template. Incorrect modifications can lead to severe layout problems. Support is not available for customization errors.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-5" id="list-item-3">
                                            <div class="col-12 pt-5">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h4 text-theme-1">Project Structure</p>
                                                        <p class="h5 mb-4">Folders and file structure is important to understand</p>
                                                        <p class="text-secondary">Here very basic outline presented to show how project is organized. All node modules folder will not be included.
                                                            We have kept dist folder where all complied files will be available to quick preview in browser by opening it into browser. When you run the project dist folder will be updated each time you build project</p>
                                                        <pre class="mb-2"><code class="code rounded language-html">
                 downloaded Zip file
                 |-- .vscode
                 |-- dist
                 |-- src
                 |   |-- assets
                 |   |   |-- img
                 |   |   |-- js
                 |   |   |   |--component
                 |   |   |   |--core
                 |   |   |   |--investment
                 |   |   |   |--app.js
                 |   |   |-- scss
                 |   |   |-- vendor
                 |   |-- pages
                 |   |-- partials
                 |   |   |-- footer
                 |   |   |-- header
                 |   |   |-- navigation
                 |   |   |-- pageloader
                 |   |   |-- scripts
                 |-- .babelrc
                 |-- .gitignore
                 |-- .htmllintrc
                 |-- .jshintrc
                 |-- package.json
                 |-- postcss.conig.js
                 |-- README.md
                 |-- Webpack.config.js
                                                            </code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-5" id="list-item-4">
                                            <div class="col-12 pt-5">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h4 text-theme-1">Run Project</p>
                                                        <p class="h5 mb-4">Just follow few steps and start running in local host.</p>

                                                        <p class="text-secondary">Using webpack gives you complete control over the template and dependency management, automating all the important tasks so you don't have to. We'll provide detailed instructions to help you get the most out of the template, even if you're new to npm, webpack, and partials.</p>
                                                        <p class="text-secondary">To streamline your workflow, our template build with webpack, webpack is a module bundler. Its main purpose is to bundle JavaScript files for usage in a browser. Before starting with the template, you'll <b>need to set up</b> a <code>Node.js</code> environment. If you already have Node.js and npm installed on your machine, you can move to the next sections.</p>
                                                        <div class="alert alert-warning mb-4">Changes should be committed to `src/` files only.</div>

                                                        <p class="text-secondary">Quickly unzip the downloaded template file and open it your code editor like we have used Visual Code. Once you are done, you will required to install the project dependencies with <code>npm</code>, that we previously installed. Enter the following command at the root of the folder :</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">npm install</code></pre>
                                                        <p class="text-secondary">This command will automatically fetch all the dependencies listed in your package.json file and install them in your project (creating a new directory named node_modules). Once the installation is complete, you are ready to start using webpack and begin your development process. Before you get started, let's take a closer look at the template structure and how everything is organized like in previous section we have mentioned.</p>

                                                        <p class="h5 mb-4">Start development</p>
                                                        <p class="text-secondary">To start development, you will require to run the below command at terminal of your project root:</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">npm start</code></pre>
                                                        <p class="text-secondary">This will execute a series of tasks mentioned in <code>package.json</code> and <code>webpack.config.js</code>, including the compilation of the Sass files, the concatenation of the Javascript files, the compilation of the partial templates with webpack and html-loader, and the start of the BrowserSync server. Once all series of tasks are completed, automatically open browser with server port or you can open your browser and go to http://localhost:8080 to see the template live and make modification to preview it.</p>

                                                        <p class="h5 mb-4">Build Project</p>
                                                        <p class="text-secondary">When you are done with changes and updates, you can build project for deployment. To initiate deployment process, run specified command within project root directory:</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">npm run build</code></pre>
                                                        <p class="text-secondary">This will again execute a series of tasks mentioned in <code>webpack.config.js</code>, including the compilation of the Scss files, the concatenation of the Javascript files, the compilation of the partial templates with webpack and html-loader, the minification of the CSS and Javascript files, and the creation of the <code>dist</code> folder, which contains all the files that you need.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-5" id="list-item-5">
                                            <div class="col-12 pt-5">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h4 text-theme-1">Customization</p>
                                                        <p class="h5 mb-4">Theme-styles, scripts, partials and more...</p>

                                                        <p class="h5 mb-3">theme-styles</p>
                                                        <p class="text-secondary">Our styles used cookie, you should have cookie enabled and use server, localhost to make it works. We have different set of predefined styles, you can pick one of it by changing just class name like <code>theme-yellow</code>, <code>theme-red</code>, <code>theme-purple</code> so on...</p>
                                                        <p class="text-secondary">All theme-classes list and you can also check colors in personalization section of template to customize layout interface:</p>
                                                        <ul class="mb-4">
                                                            <li><code>theme-default</code></li>
                                                            <li><code>theme-blue</code></li>
                                                            <li><code>theme-indigo</code></li>
                                                            <li><code>theme-purple</code></li>
                                                            <li><code>theme-pink</code></li>
                                                            <li><code>theme-red</code></li>
                                                            <li><code>theme-orange</code></li>
                                                            <li><code>theme-yellow</code></li>
                                                            <li><code>theme-green</code></li>
                                                            <li><code>theme-teal</code></li>
                                                            <li><code>theme-cyan</code></li>
                                                            <li><code>theme-grey</code></li>
                                                            <li><code>theme-brown</code></li>
                                                            <li><code>theme-chocolate</code></li>
                                                            <li><code>theme-black</code></li>
                                                        </ul>
                                                        <p class="text-secondary">Create your own by changing variables color codes in <code>_variable.scss</code> for light and dark mode.</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                :root,
                [data-bs-theme=light]{
                    .theme-[your theme style name like: theme-company] {
                
                        /* theme colors */
                        --adminuiux-theme-1: #0049e8;
                        --adminuiux-theme-1-hover: #003fc7;
                        --adminuiux-theme-1-active: #0037ad;
                        --adminuiux-theme-1-rgb: 0, 73, 232;
                        --adminuiux-theme-1-text: #ffffff;
                        --adminuiux-theme-2: rgb(76, 189, 255);
                        --adminuiux-theme-2-rgb: 76, 189, 255;
                        --adminuiux-theme-2-text: #ffffff;
                
                        /* theme accent colors */
                        --adminuiux-theme-accent-1: #03045e;
                        --adminuiux-theme-accent-1-hover: #01024b;
                        --adminuiux-theme-accent-1-active: #010235;
                        --adminuiux-theme-accent-1-rgb: 3, 4, 94;
                        --adminuiux-theme-accent-1-text: #ffffff;
                        --adminuiux-theme-accent-2: rgb(171, 19, 197);
                        --adminuiux-theme-accent-2-rgb: 171, 19, 197;
                        --adminuiux-theme-accent-2-text: #ffffff;
                
                        /* theme general colors */
                        --adminuiux-bg-1: #e6eef5;
                        --adminuiux-bg-2: #badaf0;
                
                        /* other */
                        --bs-link-color: #657792;
                    }
                }
                
                [data-bs-theme=dark] {
                    .theme-[your theme style name like: theme-company] {
                        --adminuiux-bg-1: #01051b;
                        --adminuiux-bg-2: #09113d;
                        
                        /* bs colors */
                        --bs-dd-bg: #192447;
                        --bs-link-color: rgba(255, 255, 255, 0.5);
                        --bs-body-bg: var(--adminuiux-bg-1);
                    }
                }
                                                            </code></pre>
                                                        <br>
                                                        <p class="h5 mb-3">One color template</p>
                                                        <p class="text-secondary">For static single color template and no need of color personalization selection. We recommend to <b>remove color-scheme js</b> from scripts files from <code>assets > js > app.js.</code></p>
                                                        <pre class="mb-3"><code class="code rounded language-html"> 
                import './core/color-scheme.js'
                            </code></pre>
                                                        <p class="text-secondary">Now you can add <code>theme-*</code> class to your template main body like below mentioned.</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;body class="theme-teal" data-theme="theme-teal"&gt;
                            </code></pre>
                                                        <br>
                                                        <p class="h5 mb-3">Scripts</p>
                                                        <p class="text-secondary">There you can add and remove js from layout <code>app.js</code> script bundling file. You can find relative script partials under <code>assets > js > app.js.</code> file and respective folder in assets > js..
                                                            Basic code structure for bundling script files are as below in <code>app.js</code>.
                                                        </p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                // main style.scss
                import "../scss/style.scss";
                
                ....
                ....
                other third parties import
                ....
                ....
                
                // global js
                import './core/functions.js';
                import './core/main.js';
                import './core/responsive.js';
                import './core/color-scheme.js'         
                            </code></pre>
                                                        <br>
                                                        <p class="h5 mb-3">Partials</p>
                                                        <p class="text-secondary">You can find partial folder in main downloaded file folder. Partial can be used to have chunk of code to be adopted in multiple files. If you have created <code>index-header</code> partial, it can be call or have html code in any page with <code>&lt;%= require('../partials/head/head.html').default %&gt;</code>.
                                                            When you compile project or run, header code will be available in respective page name defined <code>webpack.config.js</code>.</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;!-- page head section with body --&gt;
                &lt;%= require('../partials/head/head.html').default %&gt;
                
                &lt;!-- page loader --&gt;
                &lt;%= require('../partials/pageloader/investment-pageloader.html').default %&gt;
                
                &lt;!-- page header main navigation --&gt;
                &lt;%= require('../partials/header/investment-header.html').default %&gt;
                
                &lt;!-- page wrapper --&gt;
                &lt;div class="adminuiux-wrap"&gt;
                
                &lt;!-- standard sidebar --&gt;
                &lt;%= require('../partials/navigation/investment-sidebar.html').default %&gt;
                
                &lt;/div&gt;
                
                &lt;!-- page footer --&gt;
                &lt;%= require('../partials/footer/investment-footer.html').default %&gt;
                &lt;%= require('../partials/offcanvas/theming.html').default %&gt;
                
                &lt;!-- page Level js --&gt;
                &lt;!-- page body close --&gt;
                &lt;%= require('../partials/footbody/footbody.html').default %&gt;
                            </code></pre>

                                                        <p class="text-secondary">Page should be defined in the webpack with title, page name and source url withing <code>htmlwebpackplugin</code>.</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                // blank
                new HtmlWebpackPlugin({ 
                    filename: "index.html", 
                    template: "!!html-webpack-plugin/lib/loader.js!./src/pages/index.html", 
                    inject: true, 
                    hash: true, 
                    title: "Blank Page" 
                }),
                                                                    </code></pre>
                                                        <p class="h5 mb-3">Fill or Change element's color</p>
                                                        <p class="text-secondary">You can change color for header in multiple ways by using classes on <code>body</code> tag</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;body class="adminuiux-header-fill-accent" &gt;
                            </code></pre>
                                                        <p class="text-secondary">You can check preview with personalization, Also available option are as below:</p>
                                                        <ul class="mb-4">
                                                            <li><code>adminuiux-header-fill-white</code></li>
                                                            <li><code>adminuiux-header-fill-bg</code></li>
                                                            <li><code>adminuiux-header-fill-theme</code></li>
                                                            <li><code>adminuiux-header-fill-accent</code></li>
                                                        </ul>
                                                        <br>
                                                        <p class="text-secondary">You can change color for sidebar similar to header in multiple ways by using classes on <code>body</code> tag</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;body class="adminuiux-sidebar-fill-accent" &gt;
                            </code></pre> <br>
                                                        <p class="text-secondary">You can check preview with personalization, Also available option are as below:</p>
                                                        <ul class="mb-4">
                                                            <li><code>adminuiux-sidebar-fill-white</code></li>
                                                            <li><code>adminuiux-sidebar-fill-bg</code></li>
                                                            <li><code>adminuiux-sidebar-fill-theme</code></li>
                                                            <li><code>adminuiux-sidebar-fill-accent</code></li>
                                                        </ul>
                                                        <br>
                                                        <p class="text-secondary">You can change color for background color of main page along with style.<br>
                                                            Also there are gradient color defined to use it by using classes on <code>body</code> tag</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;body class="bg-white" &gt;
                            </code></pre><br>
                                                        <p class="text-secondary">You can check preview with personalization, Also available option are as below:</p>
                                                        <ul class="mb-4">
                                                            <li><code>bg-default</code></li>
                                                            <li><code>bg-white</code></li>
                                                            <li><code>bg-r-gradient</code></li>
                                                            <li><code>bg-gradient-1</code></li>
                                                            <li><code>bg-gradient-2</code></li>
                                                            <li><code>bg-gradient-3</code></li>
                                                            <li><code>bg-gradient-4</code></li>
                                                            <li><code>bg-gradient-5</code></li>
                                                            <li><code>bg-gradient-6</code></li>
                                                            <li><code>bg-gradient-7</code></li>
                                                            <li><code>bg-gradient-8</code></li>
                                                            <li><code>bg-gradient-9</code></li>
                                                            <li><code>bg-gradient-10</code></li>
                                                        </ul>
                                                        <br>
                                                        <p class="h5 mb-3">Dark Mode</p>
                                                        <p class="text-secondary">You can change layout light mode to dark mode by using attribute as below on on <code>html</code> tag.</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;html lang="en" data-bs-theme="dark" &gt;
                            </code></pre><br>

                                                        <p class="h5 mb-3">RTL</p>
                                                        <p class="text-secondary">As always there is quick and simple way to use RTL with just putting attribute on <code>html</code> tag</p>
                                                        <pre class="mb-3"><code class="code rounded language-html">
                &lt;html lang="en" dir="rtl"&gt;
                            </code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-5" id="list-item-6">
                                            <div class="col-12 pt-5">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h4 text-theme-1">Special Thanks,</p>
                                                        <p class="h5 mb-4">We thank all the third parties and supportive communities.</p>

                                                        <p class="h5 mb-3">Third party libraries</p>
                                                        <p class="text-secondary">Here are some major library and resource used to develop our template:</p>

                                                        <ul class="list ms-2 text-secondary">
                                                            <li>Bootstrap 5.3.x</li>
                                                            <li>Bootstrap icons</li>
                                                            <li>Dropzone</li>
                                                            <li>Feather icons</li>
                                                            <li>Chart js</li>
                                                            <li>Full calendar</li>
                                                            <li>Date range picker</li>
                                                            <li>Progress bar</li>
                                                            <li>SmartWizard</li>
                                                            <li>Swiper</li>
                                                            <li>DataTable</li>
                                                            <li>and many more...</li>
                                                        </ul>

                                                        <p class="h5 mb-3">Images</p>
                                                        <p class="text-secondary">We have used placeholder images photo library from <a href="https://github.com/DMarby/picsum-photos">https://picsum.photos/</a> which has MIT license.
                                                            Also there is quick way to use random placeholder photo image like <code>https://picsum.photos/1000/600</code> </p>
                                                        <p class="text-secondary">We have used placeholder avatar picture library from <a href="https://pravatar.cc/">https://pravatar.cc/</a> which has CC0 license.
                                                            Also there is quick way to use random avatar pic like <code>https://i.pravatar.cc/300</code> </p>
                                                        <p class="text-secondary">We have used some of images created with AI. AI images are made with "Image Creator from Designer". Powered by DALL·E 3 from Skype App Windows.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="list-item-7">
                                            <div class="col-12 pt-5">
                                                <div class="card adminuiux-card mb-4">
                                                    <div class="card-body">
                                                        <p class="h4 text-theme-1">Support,</p>
                                                        <p class="h5 mb-4">We will be happy to guide you,</p>

                                                        <p class="text-secondary">If you find any issues with template files, just drop a message from template purchase support section. If you have any query or questions regarding this template or need help, you can always reach us at info@adminuiux.com. We will try our best to solve your problem and support you. You connect with us on our social media accounts to stay tuned with us.</p>
                                                        <br><br>
                                                        <p class="h2 text-theme-1">Thank You</p>
                                                        <p class="h5 text-theme-accent-1 mb-4">We are happy to be here for you!</p>
                                                        <p class="text-secondary">We AdminUIUX.com - HTML templates and we will grow with your support, spread a word...</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="position-fixed bottom-0 end-0 m-3 z-index-5">
                            <button class="btn btn-theme btn-square rounded-circle shadow" onclick="scrollToTop()"><i class="bi bi-arrow-up"></i></button>
                        </div>
                    </main>
                </div>

                <%= require('../partials/footer/index-footer.html').default %>
    </body>

</html>