/* Sidebar global */
.adminuiux-sidebar {
    --bs-gutter-x: 1.5rem;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--adminuiux-sidebar-width);
    transition: ease-in-out 0.2s all;
    padding-bottom: 1rem;

    /* sidebar inner  */
    .adminuiux-sidebar-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;

        /* sidebar navigation */
        .nav {
            margin-bottom: 1.25rem;
            padding: 0 1rem;

            .nav-item {
                .nav-link {
                    --bs-nav-link-padding-y: 0.625rem;
                    border-radius: var(--bs-border-radius);
                    color: var(--bs-link-color);
                    position: relative;
                    display: flex;
                    align-items: center;

                    i,
                    svg {
                        color: var(--bs-link-color);
                        stroke: var(--bs-link-color);
                        font-size: 18px;
                        width: 18px;
                        line-height: 26px;
                        vertical-align: middle;

                        &.menu-icon {
                            margin-right: 10px;
                            margin-bottom: 0;
                        }
                    }

                    &:hover,
                    &:focus {
                        color: var(--adminuiux-theme-1);

                        i,
                        svg {
                            color: var(--adminuiux-theme-1);
                            stroke: var(--adminuiux-theme-1);
                        }
                    }

                    &.active,
                    &:active:not(.dropdown-toggle) {
                        color: var(--adminuiux-theme-1);

                        i,
                        svg {
                            color: var(--adminuiux-theme-1);
                            stroke: var(--adminuiux-theme-1);
                        }
                    }
                }

                &.dropdown {
                    .dropdown-toggle {
                        display: flex;
                        align-items: center;

                        .menu-name {
                            flex-grow: 1;
                        }

                        &.show {}
                    }

                    .dropdown-menu {
                        background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                        box-shadow: none;
                        position: relative !important;
                        transform: none !important;
                        padding: 0;
                    }
                }
            }

            /* sidebar menu active line */
            &.menu-active-line {
                .nav-item {
                    .nav-link {

                        &:hover,
                        &:focus {
                            background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                            color: var(--adminuiux-theme-1);

                            i,
                            svg {
                                color: var(--adminuiux-theme-1);
                                stroke: var(--adminuiux-theme-1);
                            }
                        }

                        &.active,
                        &:active:not(.dropdown-toggle),
                        &.show {
                            background-color: rgba(var(--adminuiux-theme-1-rgb), 1);
                            color: var(--adminuiux-theme-1-text);

                            i,
                            svg {
                                color: var(--adminuiux-theme-1-text);
                                stroke: var(--adminuiux-theme-1-text);
                            }
                        }
                    }

                    &.dropdown {
                        .dropdown-toggle {
                            border-radius: var(--bs-border-radius);
                            display: flex;
                            align-items: center;

                            .menu-name {
                                flex-grow: 1;
                            }

                            &.show {
                                border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
                                background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                                color: var(--adminuiux-theme-1);

                                i,
                                svg {
                                    color: var(--adminuiux-theme-1);
                                    stroke: var(--adminuiux-theme-1);
                                }
                            }
                        }

                        .dropdown-menu {
                            border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
                            background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                            box-shadow: none;
                            position: relative !important;
                            transform: none !important;
                            padding: 0;
                        }
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        /* sidebar search */
        .search-wrap {
            background-color: rgba(255, 255, 255, 0.55);
            backdrop-filter: blur(15px);
        }

        /* sidebar cards */
        .card {
            background-color: rgba(255, 255, 255, 0.55);
            backdrop-filter: blur(15px);
        }
    }
}

/* content when sidebar toggle */
.adminuiux-content {
    &.has-sidebar {
        padding-left: var(--adminuiux-sidebar-width);
        transition: ease-in-out 0.2s padding;
    }
}

/* Sidebar Closed */
.sidebar-close {
    .adminuiux-wrap {
        .adminuiux-sidebar {
            left: calc((var(--adminuiux-sidebar-width) + 10px) * -1);
        }

        .adminuiux-content {
            &.has-sidebar {
                padding-left: 0;
            }
        }
    }

    .adminuiux-footer {
        padding-left: 0;
    }

    &.iconic-sidebar {
        .adminuiux-wrap {
            .adminuiux-sidebar {
                left: calc((var(--adminuiux-sidebar-iconic-width) + 10px) * -1);
            }

            .adminuiux-content {
                &.has-sidebar {
                    padding-left: 0;
                }
            }
        }
    }
}

/* inner sidebar inner */
.inner-sidebar-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    min-height: 550px;

    .inner-sidebar {
        width: 300px;
        min-height: 600px;
        height: 100%;
        max-height: 100%;
        background-color: var(--adminuiux-bg-1);
        position: relative;
        z-index: 1;
        flex: 0 0 auto;
        margin-left: 0;
        transition: ease all 0.5s;
        -webkit-transition: ease all 0.5s;
        -moz-transition: ease all 0.5s;
        -ms-transition: ease all 0.5s;
        overflow-y: auto;
        padding-right: 1rem;

        .nav {
            .nav-item {
                margin-bottom: 4px;

                .nav-link {
                    display: flex;
                    align-items: center;
                    border-radius: var(--bs-border-radius);

                    .icon {
                        margin-right: 10px;
                        font-size: 20px;
                    }

                    .minus {
                        display: none;
                    }

                    &:hover,
                    &:focus {
                        background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                        color: var(--adminuiux-theme-1);
                    }

                    &.active {
                        background-color: rgba(var(--adminuiux-theme-1-rgb), 1);
                        color: var(--adminuiux-theme-1-text);

                        i,
                        svg {
                            color: var(--adminuiux-theme-1-text);
                        }
                    }
                }

                &.dropdown {
                    .nav-link {
                        &.show {
                            border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
                            background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                            color: var(--adminuiux-theme-1);
                        }
                    }

                    .dropdown-menu {
                        border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
                        background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        position: relative !important;
                        -webkit-transform: none !important;
                        transform: none !important;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    .inner-sidebar-content {
        flex: 1 0 0%;
        width: 100%;
        position: relative;
        z-index: 0;
        overflow-y: auto;

        a {
            text-decoration: none;
        }

        .list-group {
            .list-group-item {

                .row {
                    flex-wrap: nowrap;

                    .col-md {
                        max-width: calc(100% - 220px);
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

.innermenu-close {
    .inner-sidebar {
        margin-left: calc(300px * (-1));
    }
}

/* sidebar fill color styles */
.adminuiux-sidebar-fill-theme,
.adminuiux-sidebar-fill-accent,
[data-bs-theme=dark] .adminuiux-sidebar-fill-white {
    .adminuiux-sidebar {
        color: #ffffff;
        --bs-link-color: rgba(255, 255, 255, 0.65);
        --bs-btn-active-color: #ffffff;
        --bs-btn-hover-color: #ffffff;
        --bs-link-color: rgba(255, 255, 255, 0.65);
        background-color: rgba(var(--adminuiux-theme-accent-1-rgb), 0.9) !important;
        backdrop-filter: blur(12px);

        /* sidebar inner  */
        .adminuiux-sidebar-inner {
            .nav {
                &.menu-active-line {
                    .nav-item {
                        .nav-link {

                            &:hover,
                            &:focus {
                                background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
                                --adminuiux-theme-1: #ffffff;
                            }

                            &:active,
                            &.active {
                                background-color: rgba(var(--adminuiux-theme-1-rgb), 1);
                                --adminuiux-theme-1: #ffffff;
                            }
                        }

                        &.dropdown {
                            .dropdown-toggle {
                                &.show {
                                    --adminuiux-theme-1: #ffffff;
                                    background-color: rgba(255, 255, 255, 0.1);

                                    i,
                                    svg {
                                        color: var(--adminuiux-theme-1);
                                        stroke: var(--adminuiux-theme-1);
                                    }
                                }
                            }

                            .dropdown-menu {
                                background-color: rgba(255, 255, 255, 0.1);
                            }
                        }
                    }
                }
            }

            .btn-link {
                --bs-btn-hover-color: #ffffff;
                --bs-btn-hover-bg: rgba(255, 255, 255, 0.1)
            }

            .card {
                background-color: rgba(255, 255, 255, 0.15);
            }
        }
    }
}

.adminuiux-sidebar-fill-theme {
    .adminuiux-sidebar {
        --bs-link-color: rgba(255, 255, 255, 0.65);
        background-color: rgba(var(--adminuiux-theme-1-rgb), 0.85) !important;

        .nav {
            &.menu-active-line {
                .nav-item {
                    .nav-link {

                        &:hover,
                        &:focus {
                            background-color: rgba(255, 255, 255, .1) !important;
                        }

                        &.active,
                        &:active {
                            background-color: rgba(255, 255, 255, .15) !important;
                        }
                    }
                }
            }

        }
    }
}

.adminuiux-sidebar-fill-white {
    .adminuiux-sidebar {
        background-color: rgba(255, 255, 255, 0.85) !important;

        /* sidebar inner  */
        .adminuiux-sidebar-inner {}
    }
}

.adminuiux-sidebar-fill-bg {
    .adminuiux-sidebar {
        background-color: var(--adminuiux-bg-1) !important;

        /* sidebar inner  */
        .adminuiux-sidebar-inner {}
    }
}

/* sidebar iconic */
.adminuiux-sidebar-iconic {

    /* sidebar iconic */
    .adminuiux-sidebar {
        width: var(--adminuiux-sidebar-iconic-width);

        .adminuiux-sidebar-inner {

            /* sidebar navigation */
            .nav {
                margin-top: 1rem;
                padding: 0 7px;

                .nav-item {
                    display: block;
                    width: 100%;

                    .nav-link {
                        --bs-nav-link-padding-x: 0.5rem;
                        text-align: center;

                        i,
                        svg {
                            margin: 0 auto !important;
                        }

                        .menu-name,
                        .badge {
                            display: none;
                        }

                    }

                    &.dropdown {
                        .dropdown-toggle {
                            justify-content: center;

                            &:after {
                                position: absolute;
                                right: 5px;
                                top: 48%;
                            }
                        }

                        .dropdown-menu {
                            min-width: auto;
                        }
                    }
                }
            }
        }

        .not-iconic {
            display: none;
        }
    }

    /* iconic sidebar content */
    .adminuiux-content {
        &.has-sidebar {
            padding-left: var(--adminuiux-sidebar-iconic-width);
        }
    }
}

/* sidebar boxed  */
.adminuiux-sidebar-boxed {

    /* boxed iconic */
    .adminuiux-sidebar {
        padding: 0 0.5rem;
        background-color: transparent !important;
        backdrop-filter: none !important;
        box-shadow: none !important;


        .adminuiux-sidebar-inner {
            margin-top: 0.5rem;
            height: calc(100% - 1rem);
            border-radius: var(--bs-border-radius);

            .nav {
                margin-top: 1rem;

                &:last-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &.adminuiux-sidebar-iconic {
        --adminuiux-sidebar-iconic-width: 84px;

        /* sidebar iconic */
        .adminuiux-sidebar {
            width: var(--adminuiux-sidebar-iconic-width);
            box-shadow: none;

            .adminuiux-sidebar-inner {

                /* sidebar navigation */
                .nav {
                    margin-top: 0.45rem;

                    .nav-item {
                        display: block;
                        width: 100%;
                    }

                    &:last-child {
                        margin-bottom: 0.45rem;
                    }
                }
            }
        }
    }


    &.adminuiux-sidebar-fill-white {

        .adminuiux-sidebar {
            .adminuiux-sidebar-inner {
                background-color: #ffffff;
            }
        }
    }

    &.adminuiux-sidebar-fill-bg {

        .adminuiux-sidebar {
            .adminuiux-sidebar-inner {
                background-color: var(--adminuiux-bg-1);
            }
        }
    }

    &.adminuiux-sidebar-fill-theme {

        .adminuiux-sidebar {
            .adminuiux-sidebar-inner {
                background-color: rgba(var(--adminuiux-theme-1-rgb), 0.9);
                backdrop-filter: blur(12px);
            }
        }
    }

    &.adminuiux-sidebar-fill-accent {

        .adminuiux-sidebar {
            .adminuiux-sidebar-inner {
                background-color: rgba(var(--adminuiux-theme-accent-1-rgb), 0.9);
                backdrop-filter: blur(12px);
            }
        }
    }
}

/* Sidebar RTL */
[dir=rtl] {
    .adminuiux-sidebar {
        left: auto;
        right: 0;

        .adminuiux-sidebar-inner {

            .nav {

                .nav-item {
                    .nav-link {

                        i,
                        svg {
                            &.menu-icon {
                                margin-right: 0;
                                margin-left: 10px;
                            }
                        }

                        &:before {
                            left: auto;
                            right: -5px;
                        }

                        &:hover,
                        &:focus {
                            &:before {
                                right: 0px;
                            }
                        }

                        &:active,
                        &.active {
                            &:before {
                                right: 0px;
                            }
                        }
                    }

                    &.dropdown {
                        .dropdown-toggle {
                            border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);

                            &.show {
                                border-radius: var(--bs-border-radius) 0 0 0
                            }

                            &:after {
                                left: 2px;
                                right: auto;
                            }
                        }

                        .dropdown-menu {
                            border-radius: 0 0 0 var(--bs-border-radius);

                            &.show {
                                border-radius: 0 0 0 var(--bs-border-radius);
                            }
                        }
                    }
                }
            }
        }
    }

    .adminuiux-content {
        &.has-sidebar {
            padding-left: 0;
            padding-right: var(--adminuiux-sidebar-width);
        }
    }

    .sidebar-close {
        .adminuiux-wrap {
            .adminuiux-sidebar {
                left: auto;
                right: calc((var(--adminuiux-sidebar-width) + 10px) * -1);
            }

            .adminuiux-content {
                &.has-sidebar {
                    padding-right: 0;
                }
            }
        }

    }

    .adminuiux-sidebar-iconic .adminuiux-sidebar .adminuiux-sidebar-inner .nav .nav-item.dropdown .dropdown-toggle:after {
        left: 0px;
        right: auto;
    }

    .adminuiux-sidebar-iconic:not([class*='adminuiux-header-fill-']):not(.adminuiux-sidebar-boxed) {
        .navbar {
            .sidebar-toggler {
                margin-right: 0 !important;
                margin-left: 1.5rem;
            }
        }
    }
}

/*  media query 991 -lg */
@media screen and (min-width: 991px) {


    .adminuiux-sidebar-iconic[class*='adminuiux-sidebar-fill-']:not(.adminuiux-sidebar-boxed) {
        .adminuiux-header {
            .navbar {
                .sidebar-toggler {
                    margin-right: 1.5rem;
                }
            }
        }
    }

    .adminuiux-sidebar-fill-theme,
    .adminuiux-sidebar-fill-accent {

        &:not(.sidebar-close) {

            &:not([class*='adminuiux-header-fill-']):not(.adminuiux-sidebar-boxed):not(.adminuiux-sidebar-iconic) {
                .adminuiux-header:not(.active) {
                    .navbar {
                        .sidebar-toggler {
                            --bs-btn-active-color: #ffffff;
                            --bs-btn-hover-color: #ffffff;
                            --bs-link-color: rgba(255, 255, 255, 0.65);
                            --adminuiux-theme-accent-1: #ffffff;
                        }

                        .navbar-brand {
                            --bs-secondary: rgba(255, 255, 255, 0.65);
                            --adminuiux-text: #ffffff
                        }
                    }
                }
            }

            &.adminuiux-sidebar-iconic:not([class*='adminuiux-header-fill-']):not(.adminuiux-sidebar-boxed) {
                .adminuiux-header:not(.active) {
                    .navbar {
                        .sidebar-toggler {
                            --bs-btn-active-color: #ffffff;
                            --bs-btn-hover-color: #ffffff;
                            --bs-link-color: rgba(255, 255, 255, 0.65);
                            --adminuiux-theme-accent-1: #ffffff;
                        }
                    }
                }
            }
        }
    }

    [dir=rtl] {
        .adminuiux-sidebar-iconic .adminuiux-content {
            &.has-sidebar {
                padding-left: 0;
                padding-right: var(--adminuiux-sidebar-iconic-width);
            }
        }
    }

}

@media screen and (max-width: 991px) {

    /* content when sidebar toggle in device */
    .adminuiux-content {
        &.has-sidebar {
            padding-left: 0;
            transition: ease-in-out 0.2s padding;
        }
    }

    /* Sidebar open device  */
    .adminuiux-wrap {
        .adminuiux-sidebar {
            background-color: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(15px);
            left: calc((var(--adminuiux-sidebar-width) + 10px) * -1);
            box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
        }

        .adminuiux-content {
            &.has-sidebar {
                padding-left: 0;
            }
        }
    }

    .sidebar-open {
        .adminuiux-wrap {
            .adminuiux-sidebar {
                left: 0;
            }

            .adminuiux-content {
                &.has-sidebar {
                    padding-left: 0;
                }
            }
        }
    }

    .adminuiux-sidebar-boxed .adminuiux-sidebar {
        background-color: none;

        .adminuiux-sidebar-inner {
            background-color: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(15px);
            box-shadow: 0 6px 16px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .1) !important;
        }
    }

    [dir=rtl] {
        .adminuiux-wrap {
            .adminuiux-sidebar {
                left: auto;
                right: calc((var(--adminuiux-sidebar-width) + 10px) * -1);
            }
        }

        .sidebar-open {
            .adminuiux-wrap {
                .adminuiux-sidebar {
                    left: auto;
                    right: 0;
                }

                .adminuiux-content {
                    &.has-sidebar {
                        padding-left: 0;
                    }
                }
            }
        }

        .adminuiux-content {
            &.has-sidebar {
                padding-right: 0;
            }
        }
    }

    /* dark mode */
    [data-bs-theme=dark] {
        .adminuiux-wrap {
            .adminuiux-sidebar {
                background-color: rgba(0, 0, 0, 0.85);
            }
        }

        .adminuiux-sidebar-boxed .adminuiux-sidebar {
            background-color: none;

            .adminuiux-sidebar-inner {
                background-color: rgba(0, 0, 0, 0.85);
            }
        }
    }
}

@media screen and (max-width:992px) {
    .inner-sidebar-wrap {
        .inner-sidebar {
            margin-left: calc(300px * (-1));
            position: absolute;
        }

        .inner-sidebar-content {

            .list-group {
                .list-group-item {
                    .row {
                        flex-wrap: wrap;

                        .col-md {
                            max-width: none;
                        }
                    }
                }
            }
        }

        &::after {}
    }

    .innermenu-close {
        .inner-sidebar {
            margin-left: 0;
            z-index: 1;
        }

        .inner-sidebar-content {
            margin-left: 0;
        }

    }

    .adminuiux-sidebar-fill-theme,
    .adminuiux-sidebar-fill-accent {

        &.sidebar-open {
            &:not([class*='adminuiux-header-fill-']):not(.adminuiux-sidebar-iconic):not(.adminuiux-sidebar-boxed) {
                .adminuiux-header:not(.active) {
                    .navbar {
                        .sidebar-toggler {
                            --bs-btn-active-color: #ffffff;
                            --bs-btn-hover-color: #ffffff;
                            --bs-link-color: rgba(255, 255, 255, 0.65);
                            --adminuiux-theme-accent-1: #ffffff;
                        }

                        .navbar-brand {
                            --bs-secondary: #cccccc;
                            --adminuiux-text: #ffffff
                        }
                    }
                }
            }

            &.adminuiux-sidebar-iconic:not([class*='adminuiux-header-fill-']):not(.adminuiux-sidebar-boxed) {
                .adminuiux-header:not(.active) {
                    .navbar {
                        .sidebar-toggler {
                            --bs-btn-active-color: #ffffff;
                            --bs-btn-hover-color: #ffffff;
                            --bs-link-color: rgba(255, 255, 255, 0.65);
                            --adminuiux-theme-accent-1: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

/* dark mode */
[data-bs-theme=dark] {
    .adminuiux-sidebar .adminuiux-sidebar-inner .card {
        background-color: var(--bs-tertiary-bg);
    }

    .adminuiux-sidebar {
        color: #ffffff;
        --bs-link-color: rgba(255, 255, 255, 0.65);
        --bs-btn-active-color: #ffffff;
        --bs-btn-hover-color: #ffffff;
        --bs-link-color: rgba(255, 255, 255, 0.65);

        /* sidebar inner  */
        .adminuiux-sidebar-inner {
            .nav {
                &.menu-active-line {
                    .nav-item {
                        .nav-link {

                            &:hover,
                            &:focus {
                                --adminuiux-theme-1: #ffffff;
                            }
                        }

                        &.dropdown {
                            .dropdown-toggle {
                                &.show {
                                    --adminuiux-theme-1: #ffffff;

                                    i,
                                    svg {
                                        color: var(--adminuiux-theme-1);
                                        stroke: var(--adminuiux-theme-1);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .card {
                background-color: rgba(var(--adminuiux-theme-1-rgb), .15);
            }
        }
    }

    .adminuiux-sidebar-fill-accent {
        .adminuiux-sidebar {

            /* sidebar inner  */
            .adminuiux-sidebar-inner {
                .nav {
                    &.menu-active-line {
                        .nav-item {
                            .nav-link {

                                &:hover,
                                &:focus {
                                    background-color: rgba(255, 255, 255, 0.1);
                                }
                            }

                            &.dropdown {
                                .dropdown-toggle {
                                    &.show {
                                        background-color: rgba(255, 255, 255, 0.1);
                                    }
                                }

                                .dropdown-menu {
                                    background-color: rgba(255, 255, 255, 0.1);
                                }
                            }
                        }
                    }
                }

                .card {
                    background-color: rgba(255, 255, 255, .15);
                }

                .btn-link {
                    --bs-btn-hover-bg: rgba(255, 255, 255, .15);
                }
            }
        }
    }

    .adminuiux-sidebar-fill-white {
        .adminuiux-sidebar {
            background-color: rgba(0, 0, 0, 0.85) !important;

            .card {
                background-color: rgba(255, 255, 255, .1);
            }
        }
    }


    .adminuiux-sidebar-boxed {
        &.adminuiux-sidebar-fill-white {

            .adminuiux-sidebar {
                background-color: transparent !important;

                .adminuiux-sidebar-inner {
                    background-color: #000000;
                }
            }
        }
    }
}